{% include 'resturant/lib/header.html' %}
		<script src="{{base_url}}assets/js/JsBarcode.all.js"></script>
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
		{% include 'resturant/lib/nav.html' %}
				
<!--inner block start here-->
<div class="inner-block">
<!--mainpage chit-chating-->
<div class="chit-chat-layer1">
	<div class="col-md-12 col-sm-12 col-lg-12 chit-chat-layer1-left">
               <div class="work-progres">
                            <div class="chit-chat-heading">
								 {{constant('ITEMS MANAGEMENT')}}
						  <a href="{{base_url}}resturant/menus/additems" class="hvr-icon-float-away add-latest-user"></a></div>
							

                            <div class="table-responsive">
                                <table class="table">
									<thead class="thead-inverse table-head-bg">
										<tr>
									<th>{{ constant('NAME')}}</th>
										<th>{{ constant('CATEGORY')}}</th>
										<th>{{ constant('PRICE')}}</th>
										<th>{{ constant('BARCODE')}}</th>
										<th>{{ constant('TYPE')}}</th>
										 <th>{{ constant('STATUS')}}</th>
										 <th>{{ constant('ACTION')}}</th>
										</tr>
									</thead>
									<tbody>
									
									{% if results %}
									{% for key, item in results %} 
										<tr>									
    								<td>{{ item.item_name|e }}</td>
										<td>{{ item.category_name|e }}</td>
										<td>{{ item.item_defaultprice|e }}</td>
										<td>
										<img width="100" id="barcode{{item.item_id|e}}"/>
												<script>
													JsBarcode("#barcode{{item.item_id|e}}", "{{item.item_code|e}}", {
													 displayValue:true,
													  fontSize:24,
													  lineColor: "#0cc"
													});
												</script></td>
										<td>
										{% if item.item_type == 0 %}
										  Individual 
									     {% else %}
										Combo
									    {% endif %}</td>
										<td class="status {{ item.item_id|e }}">
										{% if item.item_status == 1 %}
										<div class="active-button" id="{{ item.item_id|e }}" onclick="statusFunction({{ item.item_id|e }},0)">Active</div>
									     {% else %}
										<div class="inactive-button" id="{{ item.item_id|e }}" onclick="statusFunction({{ item.item_id|e }},1)">Inactive</div>
									    {% endif %}
										</td>
										<td>
										 <div class="market-update-right">
										 <span><a href="{{base_url}}resturant/menus/view/{{ item.item_id|e }}"><i class="fa fa-eye latest-view-icon"></i></a></span>
										  {% if item.item_type == 0 %}
										 <span><a href="{{base_url}}resturant/menus/edit/{{ item.item_id|e }}"><i class="fa fa-edit edit-right"></i></a></span>
										   {%else%}
										    <span><a href="{{base_url}}resturant/menus/edit_data/{{ item.item_id|e }}"><i class="fa fa-edit edit-right"></i></a></span>
										    {%endif%}
										 {% if item.item_type == 0 %}
                                           <span><a href="#" onclick="confirmDeleteModal('{{ item.item_id|e }}')"><i class="fa fa-trash"></i></a></span>
										   {%else%}
										    <span><a href="#" onclick="confirmDeleteComboModal('{{ item.item_id|e }}')"><i class="fa fa-trash"></i></a></span>
										   {%endif%}
                                        </div></td>
										</tr>
										{% endfor %}
										{% else %}									
										<tr>									
										<td class="record" colspan="7" >
										{{ constant('NO RECORD FOUND')}} </td>								
										</tr>							
										{% endif %}


										</tbody>
										</table>
                                            <!--Pagination -->
            <nav class="my-4 pagenation-border">
               {{ links|raw  }}
                <div class="total-records">
                    <div>{% if results %}
							{{start}}-{{end}} {{ constant('RECORD')}}
							{% else %}
							
							0 {{ constant('RECORD')}}
							{% endif %}</div>
                </div>
            </nav>
            <!--/Pagination -->
                  </div>
             </div>
      </div>

     <div class="clearfix"> </div>
</div>
<!--main page chit chating end here-->

<!--climate end here-->
</div>
<!--inner block end here-->
<!--copy rights start here-->
{% include 'resturant/lib/footer.html' %}
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
   {% include 'resturant/lib/sidebar.html' %}
</div>
<!--slide bar menu end here-->
<div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{constant('DELETE')}} </h4>
            </div>
            <div class="modal-body">
                <p>Do You Really Want to Delete This ?</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
				<span id= 'deleteButton'></span>
            </div>
			
        </div>
      </div>
  </div>

<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {     
     
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
<script src="{{base_url}}/assets/js/jquery.validate.min.js"></script>
		<script src="{{base_url}}assets/js/jquery.nicescroll.js"></script>
		<script src="{{base_url}}assets/js/scripts.js"></script>
		<!--//scrolling js-->
<script src="{{base_url}}assets/js/bootstrap.js"> </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
<!-- mother grid end here-->


<script type="text/javascript">
function statusFunction(id,value){
		var urlData='{{ base_url }}resturant/menus/updateStatus/'+id+'/'+value;
		$.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
			    success:function(response) 
				{
					var data = $.parseJSON(response);	
					$.each(data.cur_status, function( key, value ) {						
						if(value.item_status == 1){															
							$('td.status.'+value.item_id).html("<div id="+value.item_id+" class='active-button' onclick='statusFunction("+value.item_id+",0)'>Active</div>");							
						}else{
							$('td.status.'+value.item_id).html("<div id="+value.item_id+" class='inactive-button' onclick='statusFunction("+value.item_id+",1)'>Inactive</div>");							
						}
					});				
				}
			});
	}

function confirmDeleteModal(id){
    $('#deleteModal').modal();
	$('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData('+id+')">Delete</a>');
}     
function deleteData(id){
  // do your stuffs with id
  $("#successMessage").html("Record With id "+id+" Deleted successfully!");
  var urlData='{{ base_url }}resturant/menus/delete/'+id;
   $.ajax(
			{
				url : urlData,
				type: "POST",
			    success:function() 
				{
				$('#deleteModal').modal('hide'); // now close modal
				window.location.reload();
				}
			});
			
  
}  
function confirmDeleteComboModal(id){
    $('#deleteModal').modal();
	$('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData1('+id+')">Delete</a>');
}     
function deleteData1(id){
  // do your stuffs with id
  $("#successMessage").html("Record With id "+id+" Deleted successfully!");
  var urlData='{{ base_url }}resturant/menus/deletecombo/'+id;
   $.ajax(
			{
				url : urlData,
				type: "POST",
			    success:function() 
				{
				$('#deleteModal').modal('hide'); // now close modal
				window.location.reload();
				}
			});
			
  
}  
</script>
 
</body>
</html>                     