{% include 'admin/lib/header.html' %}
<body>
   <div class="page-container">
      <div class="left-content">
         <div class="mother-grid-inner">
            <!--header start here-->
            {% include 'admin/lib/nav.html' %}
            <!--inner block start here-->
            <div class="inner-block">
               <!--mainpage-->
               <div class="chit-chat-layer1">
                  <div class="col-md-12 col-sm-12 col-lg-12 chit-chat-layer1-left">
                     <div class="work-progres">
                        <div class="chit-chat-heading">
                           {{constant('MANAGE')}} {{ constant('TABLE')}}
                           <a href="#" data-toggle="modal" data-target="#myModal" class="hvr-icon-float-away add-latest-user"></a>
                        </div>
                        <div class="table-responsive">
                                <table class="table">
                           <thead class="thead-inverse table-head-bg">
                           <tr>
						      <th>{{ constant('FLOOR')}}</th>
                              <th>{{ constant('COMPANY')}}</th>
                              <th>{{ constant('RESTURANT')}}</th>
                              <th>{{ constant('NUMBER OF SHEET')}}</th>
							  <th>{{ constant('STATUS')}}</th>
                              <th>{{ constant('ACTION')}}</th>
                           </tr>
                           </thead>
                           <tbody>  
                               {% if results %}
                                 {% for key,table in results %} 
                                    <tr> 
									<td>{{ table.floor_name|e }}</td>
									<td>{{ table.company_name|e }}</td>
                                    <td>{{ table.resturantbrand_name|e }}</td>
                                    <td>{{ table.table_sheet|e }}</td>
                                    <td class="status {{ table.table_id|e }}">
                                       {% if table.table_status == 1 %}
                                          <div class="active-button" onclick="statusFunction({{ table.table_id|e }},0)">Active</div>
                                       {% else %}
                                          <div class="inactive-button" onclick="statusFunction({{ table.table_id|e }},1)">Inactive</div>
                                       {% endif %}
                                    </td>
                                    <td>
                                    <div class="market-update-right">
                                <!--- <span><a class="modal-view" href="" data-id="{{ advert.advertisement_id|e }}" data-toggle="modal" data-target="#myModal-view" title="View Delivery Commission History"><i class="fa fa-eye latest-view-icon"></i></a></span>-------->
                                 <span><a class="modal-edit" href="#" data-toggle="modal" data-id="{{ base_url }}admin/table/edit/{{ table.table_id|e }}" data-target="#myModal-edit" data-cid="{{ table.table_id|e }}"><i class="fa fa-edit edit-right"></i></a></span>
                                  <span><a href="#" onclick="confirmDeleteModal('{{ table.table_id|e }}')"><i class="fa fa-trash"></i></a></span>
                              
                              </div>
                                    
                                    </td>
                                    </tr>
                                 {% endfor %}
                           {% else %}                          
                           <tr>                          
                           <td class="record" colspan="4" >
                           {{ constant('NO RECORD FOUND')}} </td>                      
                           </tr>                   
                           {% endif %}
                              
                           </tbody>
                                </table>
                                            <!--Pagination -->
            <nav class="my-4 pagenation-border">
              {{ links|raw  }}
                <div class="total-records">
                    <div>{% if results %}
                     {{start}}-{{end}} {{ constant('RECORD')}}
                     {% else %}
                     
                     0 {{ constant('RECORD')}}
                     {% endif %}</div>
                </div>
            </nav>
            <!--/Pagination -->
                  </div>
                        
                     </div>
                  </div>
                  <div class="clearfix"> </div>
               </div>
               <!--main page end here-->
            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            {% include 'admin/lib/footer.html' %}  
            <!--COPY rights end here-->
         </div>
      </div>
      <!--slider menu-->
      {% include 'admin/lib/sidebar.html' %}
   </div>
   <!--slide bar menu end here-->
   <!--Add Zone-->
   <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">{{constant('ADD')}} {{constant('TABLE')}}</h4>
            </div>
            <div class="col-md-12">
               <div class="card form-white" style="box-shadow: none;">
                  <div class="card" style="box-shadow:none">
                     <div class="card-body">
                        <!-- Form contact -->
                        <form action="{{ base_url }}admin/table/add" method="POST" name="table_form">
                           <div class="col-md-12" style="padding:0px;">
						    <div class="col-md-6 md-form" style="padding:0px;">
                                 <i class="fa fa-globe prefix grey-text"></i>
                                 <label for="table_floor_id">{{constant('FLOOR')}}</label>
                                 <select id="table_floor_id" name="table_floor_id" class="selectpicker form-control-select">
                                    <option value="">{{constant('PLEASE SELECT')}}</option>
                                    {% if related_floor %}
                                    {% for key,floor in related_floor %} 
                                    {% if floor.floor_status == 1 %}
                                    <option value="{{ floor.floor_id|e}}">{{ floor.floor_name|e }}</option>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                 </select>
                              </div>
                              <div class="col-md-6 md-form" style="padding:0px;">
                                 <i class="fa fa-globe prefix grey-text"></i>
                                 <label for="table_company_id">{{constant('COMPANY')}}</label>
                                 <select id="table_company_id" name="table_company_id" class="selectpicker form-control-select">
                                    <option value="">{{constant('PLEASE SELECT')}}</option>
                                    {% if related_company %}
                                    {% for key,company in related_company %} 
                                    {% if company.company_status == 1 %}
                                    <option value="{{ company.company_id|e}}">{{ company.company_name|e }}</option>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                 </select>
                              </div>
                              </div>
							   <div class="col-md-12 md-form" style="padding:0px;">
                              <div class="col-md-6 md-form">
                              <i class="fa fa-location-arrow prefix grey-text"></i>
                              <label for="table_resturant_id">{{constant('RESTURANT')}}</label>
                              <select id="table_resturant_id" name="table_resturant_id" class="selectpicker form-control-select">
                                 <option value="">{{constant('PLEASE SELECT')}}</option>
                              </select>            
                              </div>
                          
                          
                             
                              <div class="col-md-6 md-form">
                              <i class="fa fa-location-arrow prefix grey-text"></i>
                              <label for="table_branch_id">{{constant('BRANCH')}}</label>
                              <select id="table_branch_id" name="table_branch_id" class="selectpicker form-control-select">
                                 <option value="">{{constant('PLEASE SELECT')}}</option>
                              </select>            
                            </div>
							</div>
                           
                           <div class="col-md-12" style="padding:0px;">
						   <div class="col-md-6 md-form">
                           <i class="fa fa-location-arrow prefix grey-text"></i><label for="form31">{{constant('NUMBER OF SHEET')}}</label>
									<input type="number" id="table_sheet" name="table_sheet" class="form-control" placeholder="{{constant('NUMBER OF SHEET')}}">
                           </div>
						   
                        </div>
                           <div class="col-md-12 text-center">
                              <button class="btn btn-success">{{constant('SUBMIT')}}</button>
                              <button class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
                           </div>
                        </form>
                        <!-- Form contact -->
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            </div>
         </div>
      </div>
   </div>
   <!--Add location-->
   <!--Edit location-->
   <div class="modal fade" id="myModal-edit" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">{{constant('EDIT')}} {{constant('TABLE')}}</h4>
            </div>
            <div class="col-md-12">
               <div class="card form-white" style="box-shadow: none;">
                  <div class="card" style="box-shadow:none">
                     <div class="card-body">
                        <!-- Form contact -->
                        <form action="" id="edit_table_form" name="edit_table_form" method="POST">
                           
                           <div class="col-md-12" style="padding:0px;">
						   <div class="col-md-6 md-form" style="padding:0px;">
                                 <i class="fa fa-globe prefix grey-text"></i>
                                 <label for="table_company_id1">{{constant('FLOOR')}}</label>
                                 <select id="table_floor_id1" name="table_floor_id" class="selectpicker form-control-select">
                                    <option value="">{{constant('PLEASE SELECT')}}</option>
                                    {% if related_floor %}
                                    {% for key,floor in related_floor %} 
                                    {% if floor.floor_status == 1 %}
                                    <option value="{{ floor.floor_id|e}}" >{{ floor.floor_name|e }}</option>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                 </select>
                              </div>
                              <div class="col-md-6 md-form" style="padding:0px;">
                                 <i class="fa fa-globe prefix grey-text"></i>
                                 <label for="table_company_id1">{{constant('COMPANY')}}</label>
                                 <select id="table_company_id1" name="table_company_id" class="selectpicker form-control-select">
                                    <option value="">{{constant('PLEASE SELECT')}}</option>
                                    {% if related_company %}
                                    {% for key,company in related_company %} 
                                    {% if company.company_status == 1 %}
                                    <option value="{{ company.company_id|e}}" >{{ company.company_name|e }}</option>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                 </select>
                              </div>
							  </div>
							  <div class="col-md-12 md-form" style="padding:0px;">
                              <div class="col-md-6 md-form">
                                 <i class="fa fa-location-arrow prefix grey-text"></i>
                                 <label for="advertisement_resturant_id1">{{constant('RESTURANT')}}</label>
                                 <select id="table_resturant_id1" name="table_resturant_id" class="selectpicker form-control-select">
                                    <option value="">{{constant('PLEASE SELECT')}}</option>
                                 </select>
                              </div>
                          <div class="col-md-6 md-form">
                                 <i class="fa fa-location-arrow prefix grey-text"></i>
                                 <label for="branch_code">{{constant('BRANCH')}}</label>
                                 <select id="table_branch_id1"  name="table_branch_id" class="selectpicker form-control-select">
                                    <option value="">{{constant('PLEASE SELECT')}}</option>
                                 </select>
                              </div>
							  </div>
							  <div class="col-md-12" style="padding:0px;">
						   <div class="col-md-6 md-form">
                           <i class="fa fa-location-arrow prefix grey-text"></i><label for="form31">{{constant('NUMBER OF SHEET')}}</label>
									<input type="number" id="table_sheet1" name="table_sheet" class="form-control" placeholder="{{constant('NUMBER OF SHEET')}}">
                           </div>
						   
                        </div>
							  <div class="col-md-12 text-center">
                              <button class="btn btn-success">{{constant('SUBMIT')}}</button>
                              <button class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
                           </div>
                        </form>
                        <!-- Form contact -->
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            </div>
         </div>
      </div>
   </div>
   <!--Edit zone ends here...-->
   <!--View zone starts-->
   <!------view zone end  -------------->
   <div id="deleteModal" class="modal fade" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">{{constant('DELETE')}} </h4>
                </div>
                 <div class="delete_message"></div>
                <div class="modal-body">
                    <p>Do You Really Want to Delete This ?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
                    <span id='deleteButton'></span>
                </div>

            </div>
        </div>
    </div>
   
   <script src="{{base_url}}assets/js/jquery.nicescroll.js"></script>
   <script src="{{base_url}}assets/js/scripts.js"></script>
   <!--//scrolling js-->
   <script src="{{base_url}}assets/js/bootstrap.js"> </script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
   <script src="http://localhost/tabqy1/assets/js/jquery.validate.min.js"></script>
   <script type="text/javascript">
      function statusFunction(id,value){
         var urlData='{{ base_url }}admin/table/updateStatus/'+id+'/'+value;
         $.ajax(
            {
               url : urlData,
               type: "POST",
               crossDomain: true,
               success:function(response) 
               {
               var data = $.parseJSON(response);   
               $.each(data.cur_status, function( key, value ) {                  
                  if(value.zone_status == 1){                                             
                     $('td.status.'+value.advertisement_id).html("<div id="+value.advertisementy_id+" class='active-button' onclick='statusFunction("+value.advertisement_id+",0)'>Active</div>");                    
                  }else{
                     $('td.status.'+value.advertisement_id).html("<div id="+value.advertisement_id+" class='inactive-button' onclick='statusFunction("+value.advertisement_id+",1)'>Inactive</div>");                   
                  }
               });            
               }
         });
      }
   </script>
   <script type="text/javascript">


</script>
<script >
    $(function() {
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[name='table_form']").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                table_floor_id: "required",
                table_company_id: "required",
                table_resturant_id: "required",
                table_branch_id: "required",
                table_sheet: "required",

            },
            messages: {
                table_floor_id: "Please Selecct Floor",
                table_company_id: "Please Selecct Company",
                table_resturant_id: "please select Resturant ",
                table_branch_id: "Please Select Branch",
                table_sheet: "Please Selecct Table Sheet ",

            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function(form) {
                //var urlData = $(form).attr('action');
                formData = new FormData();

                formData.append('table_floor_id', $('#table_floor_id').val());
                formData.append('table_company_id', $('#table_company_id').val());
                formData.append('table_resturant_id', $('#table_resturant_id').val());
                formData.append('table_branch_id', $('#table_branch_id').val());
				formData.append('table_sheet', $('#table_sheet').val());
                var urlData = $(form).attr('action');
				//alert(formData);
                $.ajax({

                    url: urlData,
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        var data = $.parseJSON(data);
                        if (data.error == 'true') {
                            $.each(data.error_msg, function(index, value) {
                                $('#' + index).after('<label id="' + index + '-error" class="error" for="user_name">' + value + '</label>');
                            });
                        } else if (data.error == 'permission') {
                            $('.alert').delay(500).fadeOut(100);
                            $('form[name="table_form"]').before('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                        } else {
                            $('form[name="table_form"]')[0].reset();
                            $('form[name="table_form"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                            if ($('.alert').delay(10000).fadeOut(100)) {
                                window.location.reload();
                            }

                        }
                    }
                });
            }
        });
    }); </script>

   <script language="javascript">
      $(".modal-edit").click(function(e) {  
     e.preventDefault();
       $('#table_resturant_id1').empty();
       $('#table_branch_id1').empty();
        
         $('#edit_table_form').attr('action',$(this).data('id'));
         var cid = $(this).data('cid');   
         var urlData = "{{ base_url }}admin/table/edit_view/"+cid;
         $.ajax(
         {
            url : urlData,
            type: "POST",
            crossDomain: true,
            success:function(data) 
            {              
              var data = $.parseJSON(data);                
               if(data.error == 'true'){
                  $.each(data.error_msg, function( index, value ) {
                  $('#'+index+'1').after('<label id="'+index+'-error" class="error" for="'+index+'">'+value+'</label>');
                  $('#'+index+'2').after('<label id="'+index+'-error" class="error" for="'+index+'">'+value+'</label>');
                       });
                  
               }else{
               var brands="";
             
                $.each(data.brands, function( index, value ) {
               $('#table_resturant_id1').append('<option value="' + value.resturantbrand_id + '">' + value.resturantbrand_name + '</option>');
                });
                 $.each(data.branches, function( index, value ) {
               $('#table_branch_id1').append('<option value="' + value.resturantbrand_id + '">' + value.resturantbrand_name + '</option>');
                });
  
                    
                  $.each(data.edit_view, function( index, value ) {
                  $('#table_company_id1').val(value.table_company_id);
				  $('#table_floor_id1').val(value.table_floor_id);
					 $('#table_sheet1').val(value.table_sheet);
                    $('select#table_resturant_id1').find('option[value="' + value.table_resturant_id + '"]').prop("selected", true);
                  var str=value.table_branch_id;
                  var res = str.split(",");
                  $.each(res, function( index, value ) {

                      $('select#table_branch_id1').find('option[value="' + value + '"]').prop("selected", true);
                 });
                //  $('#table_sheet1').val(value.table_sheet);
               });                  
                  }
            }
         });
         
        });
    </script>

     <script type="text/javascript">
        // Wait for the DOM to be ready
        $(function() {
            // Initialize form validation on the registration form.
            // It has the name attribute "registration"
            $("form[name='edit_table_form']").validate({
                // Specify validation rules
      rules: {
            table_floor_id     : "required",
            table_company_id   : "required",
            table_resturant_id : "required",
            table_branch_id    : "required",      
            table_sheet        : "required",  
          },      
      messages: {
	      table_floor_id      : "Please Selecct Floor",
          table_company_id    : "Please Selecct Company",
          table_resturant_id  : "please select Resturant ",
          table_branch_id     : "Please Select Branch", 
          table_sheet         : "Please Selecct Floor",

          },
              
               
			  submitHandler: function(form) {
			 
                 var   formData = new FormData();
                  // alert()
            formData.append('table_company_id', $('#table_company_id1').val());
			formData.append('table_floor_id', $('#table_floor_id1').val());
            formData.append('table_resturant_id', $('#table_resturant_id1').val());
			formData.append('table_branch_id', $('#table_branch_id1').val());
            formData.append('table_sheet', $('#table_sheet1').val());            
       var urlData = $(form).attr('action');
                    
                    var urlData = $(form).attr('action');
				      $.ajax({
                              url: urlData,
                                type: "POST",
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function(data) {
                            //alert(data);
                            var data = $.parseJSON(data);
                            if (data.error == 'true') {
                                $.each(data.error_msg, function(index, value) {
                                    $('#' + index).after('<label id="' + index + '-error" class="error" for="' + index + '">' + value + '</label>');
                                    $('#' + index + '1').after('<label id="' + index + '-error" class="error" for="' + index + '">' + value + '</label>');
                                });
                            } else if (data.error == 'permission') {
                                    $('.alert').delay(500).fadeOut(100);
                                    $('form[name="edit_table_form"]').before('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                            } else {
                                $('form[name="edit_table_form"]')[0].reset();
                                $('form[name="edit_table_form"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                                if ($('.alert').delay(5000).fadeOut(100)) {
                                    window.location.reload();
                                }
                            }
                        }
                    });
                }
            });
        });
    </script>

   <script type="text/javascript">

      $(document).ready(function(){
            $('#table_company_id,#company_code1').change(function(){

               $('#table_resturant_id,#resturant_code1').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');
               
               var ci_id = $(this).val();
               //alert(ci_id);

               var urlData='{{ base_url }}admin/table/related_restaurant/'+ci_id;
               //alert(urlData);die();
               $.ajax(
                  {
                     url : urlData,
                     type: "POST",
                     crossDomain: true,
                     success:function(data) 
                     {
                  var data = $.parseJSON(data);
                  
                     $.each(data.related_restuartant, function( key, value ) {
                        $('#table_resturant_id').append('<option value="' + value.resturantbrand_id + '">' + value.resturantbrand_name + '</option>');
                        $('#resturant_code1').append('<option value="' + value.resturantbrand_id + '">' + value.resturantbrand_name + '</option>');
                     });                  
               }
                  });
            });
            
            $('#table_resturant_id,#resturant_code1').change(function(){
               $('#table_branch_id,#table_branch_id1').html('');
               var ci_id = $(this).val();
               var urlData='{{ base_url }}admin/table/related_branch/'+ci_id;
               //alert(urlData);
               $.ajax(
                  {
                     url : urlData,
                     type: "POST",
                     crossDomain: true,
                     success:function(data) 
                     {
                        var data = $.parseJSON(data);
                        
                           $.each(data.related_branch, function( key, value ) {
                              $('#table_branch_id').append('<option value="' + value.resturantbrand_id + '">' + value.resturantbrand_name + '</option>');
                              $('#branch_code1').append('<option value="' + value.resturantbrand_id + '">' + value.resturantbrand_name + '</option>');
                           });                  
                     }
                  });
            });
      });
   </script>
    <script type="text/javascript">
        function confirmDeleteModal(id) {
            $('#deleteModal').modal();
            $('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData(' + id + ')">{{constant("DELETE")}}</a>');
        }

        function deleteData(id) {
            // do your stuffs with id
            $("#successMessage").html("Record With id " + id + " Deleted successfully!");
            var urlData = '{{ base_url }}admin/table/delete/' + id;
            $.ajax({
                url: urlData,
                type: "POST",
                success: function(result) {
                    var data = $.parseJSON(result);
                    if (data.error == 'false') {
                        $('#deleteModal').modal('hide'); // now close modal
                        window.location.reload();
                    } else {

                        $('.delete_message').html('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                        
                    }
                }
            });
        }
    </script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
 <script>
$(document).ready(function(){

      $("#from_date").datepicker({
                changeMonth: true,
                changeYear: true,
            dateFormat: "yy-mm-dd",
            minDate: 0,
            onSelect: function(date){ 
                     $("#to_date").datepicker( "option", "minDate", date );                     
                  }
            });
      $("#to_date").datepicker({ 
               dateFormat: "yy-mm-dd",
               changeYear: true,
               changeMonth: true
            });
      $("#from_date1").datepicker({
                changeMonth: true,
                changeYear: true,
            dateFormat: "yy-mm-dd",
            minDate: 0,
            onSelect: function(date){ 
                     $("#to_date1").datepicker( "option", "minDate", date );                    
                  }
            });
      $("#to_date1").datepicker({ 
               dateFormat: "yy-mm-dd",
               changeYear: true,
               changeMonth: true,
            });
      
      $('#add_coupn').click(function(e){
         e.preventDefault();
         $('.addcpn').css('display','block');
         $('#add_coupn').prop( "disabled", true );
      });
});
</script>

</body>
</html>