{% include 'admin/lib/header.html' %}
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
			{% include 'admin/lib/nav.html' %}
					
			
<!--inner block start here-->
<div class="inner-block">
<!--mainpage chit-chating-->
<div class="chit-chat-layer1">
	<div class="col-md-12 col-sm-12 col-lg-12 chit-chat-layer1-left">
               <div class="work-progres">
                            <div class="chit-chat-heading">
								{{constant('MANAGE')}} {{ constant('PAYMENTMETHOD')}}
								  <a href="#" data-toggle="modal" data-target="#myModal" class="hvr-icon-float-away add-latest-user"></a>
							</div>
                            <div class="table-responsive">
                                <table class="table">
									<thead class="thead-inverse table-head-bg">
									<tr>
										<th>{{ constant('PAYMENTMETHOD')}}</th>
										<th>{{ constant('CREATED')}}</th>
										<th>{{ constant('STATUS')}}</th>
										<th>{{ constant('ACTION')}}</th>
									</tr>
									</thead>
									<tbody>	
										{% if results %}
											{% for key,paymentmethod in results %} 
												<tr>									
												<td>{{ paymentmethod.paymentmethod_name|e }}</td>
												<td>{{ paymentmethod.paymentmethod_created|e }}</td>
												
												<td class="status {{ paymentmethod.paymentmethod_id|e }}">
													{% if paymentmethod.paymentmethod_status == 1 %}
														<div class="active-button" onclick="statusFunction({{ paymentmethod.paymentmethod_id|e }},0)">Active</div>
													{% else %}
														<div class="inactive-button" onclick="statusFunction({{ paymentmethod.paymentmethod_id|e }},1)">Inactive</div>
													{% endif %}
												</td>
												<td>
												<div class="market-update-right">
													<span><a href="#"  data-toggle="modal" data-id="{{ base_url }}admin/paymentmethod/edit/{{ paymentmethod.paymentmethod_id|e }}" data-name="{{ paymentmethod.paymentmethod_name|e }}" data-target="#myModal-edit" class="modal-edit"><i class="fa fa-edit"></i></a></span>
													<span><a href="#" onclick="confirmDeleteModal('{{ paymentmethod.paymentmethod_id|e }}')"><i class="fa fa-trash"></i></a></span>
												</div>
												</td>
												</tr>
											{% endfor %}
									{% else %}									
									<tr>									
									<td class="record" colspan="4" >
									{{ constant('NO RECORD FOUND')}} </td>								
									</tr>							
									{% endif %}
										
									</tbody>
                                </table>
                                            <!--Pagination -->
            <nav class="my-4 pagenation-border">
              {{ links|raw  }}
                <div class="total-records">
                    <div>{% if results %}
							{{start}}-{{end}} {{ constant('RECORD')}}
							{% else %}
							
							0 {{ constant('RECORD')}}
							{% endif %}</div>
                </div>
            </nav>
            <!--/Pagination -->
                  </div>
             </div>
      </div>

     <div class="clearfix"> </div>
</div>
<!--main page chit chating end here-->

<!--climate end here-->
</div>
<!--inner block end here-->
<!--copy rights start here-->
	{% include 'admin/lib/footer.html' %}	
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    	{% include 'admin/lib/sidebar.html' %}
</div>
<!--slide bar menu end here-->

<!--Add paymentmethod add-->

<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{constant('ADD')}} {{constant('PAYMENTMETHOD')}}</h4>
			</div>
			<div class="col-md-12">
					<div class="card form-white" style="box-shadow: none;">
							<div class="card" style="box-shadow:none">
									<div class="card-body">
										<!-- Form contact -->
										<form action="{{ base_url }}admin/paymentmethod/add" method="POST" name="paymentmethod_form">
											
											<div class="col-md-12 md-form">
												<label for="form31">{{constant('PAYMENTMETHOD')}} </label>
												<input type="text" placeholder="Enter paymentmethod" id="paymentmethod_name" name="paymentmethod_name" class="form-control">
												
											</div>
											
											<div class="col-md-12 text-center">
												<button class="btn btn-success">{{constant('SUBMIT')}}</button>
												<button class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
											</div>
										</form>
										<!-- Form contact -->
									</div>
								</div>
						</div>
			</div>
			
				
				</form>
			<div class="modal-footer">
			  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		  </div>
		  
		</div>
	  </div>

<!--Add paymentmethod add-->

<!--edit paymentmethod add-->

<div class="modal fade" id="myModal-edit" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{constant('EDIT')}} {{constant('PAYMENTMETHOD')}}</h4>
			</div>
			<div class="col-md-12">
					<div class="card form-white" style="box-shadow: none;">
							<div class="card" style="box-shadow:none">
									<div class="card-body">
										<!-- Form contact -->
										<form action="" id="edit_paymentmethod_form" name="edit_paymentmethod_form" method="POST">
											
											<div class="col-md-12 md-form">
												<label for="paymentmethod_name">{{constant('PAYMENTMETHOD')}}</label>
												<input type="text" id="paymentmethod_name1" name="paymentmethod_name" class="form-control" placeholder="Enter paymentmethod">
												
											</div>
											
											<div class="col-md-12 text-center">
												<button class="btn btn-success">{{constant('SUBMIT')}}</button>
												<button  class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
											</div>
										</form>
										<!-- Form contact -->
									</div>
								</div>
						</div>
			</div>
			
				
				</form>
			<div class="modal-footer">
			  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		  </div>
		  
		</div>
	  </div>

<!--edit department add-->
   <!----modal starts here --->
<div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{constant('DELETE')}} </h4>
            </div>
			<div class="delete_message"></div>
            <div class="modal-body">
                <p>{{ constant('SURE DELETE') }}</p>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
				<span id= 'deleteButton'></span>
            </div>
			
        </div>
      </div>
  </div>
<!--Modal ends here--->

<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="{{base_url}}assets/js/jquery.nicescroll.js"></script>
		<script src="{{base_url}}assets/js/scripts.js"></script>
		<!--//scrolling js-->
<script src="{{base_url}}assets/js/bootstrap.js"> </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

<script type="text/javascript">

function statusFunction(id,value){
		var urlData='{{ base_url }}admin/paymentmethod/updateStatus/'+id+'/'+value;
		$.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
			    success:function(response) 
				{
					var data = $.parseJSON(response);	
					$.each(data.cur_status, function( key, value ) {						
						if(value.paymentmethod_status == 1){															
							$('td.status.'+value.paymentmethod_id).html("<div class='active-button' onclick='statusFunction("+value.paymentmethod_id+",0)'>Active</div>");							
						}else{
							$('td.status.'+value.paymentmethod_id).html("<div class='inactive-button' onclick='statusFunction("+value.paymentmethod_id+",1)'>Inactive</div>");							
						}
					});				
				}
			});
	}

	// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='paymentmethod_form']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
		paymentmethod_name: "required",
		
    },
    // Specify validation error messages
    messages: {
      paymentmethod_name: "Please Enter paymentmethod Name",
  
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
	     var formData = $(form).serialize();
		 var urlData = $(form).attr('action');
		 $.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
				data : formData,
				success:function(data) 
				{
				  var data = $.parseJSON(data);
					if(data.error == 'true'){
					   $.each(data.error_msg, function( index, value ) {
						$('#'+index).after('<label id="'+index+'-error" class="error" for="user_name">'+value+'</label>');
                       });
					}else if (data.error == 'permission') {
					$('.alert').delay(200).fadeOut(100);	
                     $('form[name="paymentmethod_form"]').before('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
					}else{
					$('form[name="paymentmethod_form"]')[0].reset();
					$('form[name="paymentmethod_form"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>');
					if($('.alert').delay(5000).fadeOut(100)){
						window.location.reload();
					}
				    
            		}
				}
			});
    }
  });
});


</script>

 <script language="javascript">
      $(".modal-edit").click(function(e) {  
	  e.preventDefault();
            $('#paymentmethod_name1').attr('value',$(this).data('name'));
			$('#edit_paymentmethod_form').attr('action',$(this).data('id'));
			
        });
    </script>

	<script type="text/javascript">

	// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='edit_paymentmethod_form']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
		paymentmethod_name: "required",
		
    },
    // Specify validation error messages
    messages: {
      paymentmethod_name: "Please Enter paymentmethod Name",
  
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {	
	     var formData = $(form).serialize();
		 var urlData = $(form).attr('action');
		 $.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
				data : formData,
				success:function(data) 
				{
				  var data = $.parseJSON(data);
					if(data.error == 'true'){
					   $.each(data.error_msg, function( index, value ) {
						$('#'+index).after('<label id="'+index+'-error" class="error" for="user_name">'+value+'</label>');
                       });
					}else if (data.error == 'permission') {
					$('.alert').delay(200).fadeOut(100);	
                     $('form[name="edit_paymentmethod_form"]').before('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');	
					}else{
					$('form[name="paymentmethod_form"]')[0].reset();
					$('form[name="paymentmethod_form"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>');
					if($('.alert').delay(10000).fadeOut(100)){
					window.location.reload();
					}
				    
            		}
				}
			});
    }
  });
});


</script>

<script type="text/javascript">

function confirmDeleteModal(id){
    $('#deleteModal').modal();
	$('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData('+id+')">Delete</a>');
}     
function deleteData(id){
  // do your stuffs with id
  $("#successMessage").html("Record Deleted successfully!");
  var urlData='{{ base_url }}admin/paymentmethod/delete/'+id;
   $.ajax(
			{
				url : urlData,
				type: "POST",
			    success:function(data) 
				{
					var data = $.parseJSON(data);
					if (data.error == 'false') {
                        $('#deleteModal').modal('hide'); // now close modal
                        window.location.reload();
                    } else {

                        $('.delete_message').html('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                    }
				}
			});
			
  
}  

</script>
</body>
</html>                     