{% include 'admin/lib/header.html' %}
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
		{% include 'admin/lib/nav.html' %}
<div class="inner-block">
<!--mainpage chit-chating-->
<div class="chit-chat-layer1">
<div class="col-md-12 col-sm-12 col-lg-12 chit-chat-layer1-left">
               <div class="work-progres work-progres-country">
					<div class="chit-chat-heading" style="padding: 20px; color:#fff;">
					 {{ constant('COUNTRY')}} ({{country_count}})
						
					</div>                        
             </div>
      </div>
     <div class="clearfix"> </div>
	 <div class="row">
		
		<div class="market-updates">
		<div class="col-md-12 col-sm-12 col-lg-12">
		{% if brandcountries %}
			{% for key,country in brandcountries %} 
				<div class="col-md-4 col-sm-4 col-lg-3 col-xs-12">
					<div class="main-country" style="padding:10px">
						<div class="Main-country-icon">
							<img src="{{base_url}}upload/flagimages/{{ country.country_file|e }}" class="img-responsive" alt="img" />
						</div> 
						<a href="javascript:;" class="country_wise" onclick="countryFunction('{{ country.country_code|e }}')" ><div class="main-country-name">
							<h3>{{ country.country_name|e }}</h3>
							<h4>Total Restaurants :<span>{{ country.Totalrest|e}} </span></h4>
						</div></a>
					</div> 
				</div>
			{% endfor %}
		{% endif %}
			
		</div>
			
		<div class="clearfix"> </div>
		</div>
		
	 </div>
	<div class="col-md-12 col-sm-12 col-lg-12 chit-chat-layer1-left">
               <div class="work-progres">
                            <div class="chit-chat-heading">
								  {{ constant('BRAND')}} {{ constant('RESTURANT')}} 
							  <a href="#" data-toggle="modal" data-target="#myModal-resturent" class="hvr-icon-float-away add-latest-user"></a>
								</div>
							

                            <div class="table-responsive">
                               <table class="table">
									<thead class="thead-inverse table-head-bg">
										<tr>
										<th>{{ constant('BRAND')}}
										</th>
										<th></th>
										<th>{{ constant('STATUS')}}</th>
										<th>{{ constant('ACTION')}}</th>
										</tr>
									</thead>
									<tbody>
									
										{% if results %}
									{% for key, resturant in results %} 
										<tr>									
    									<td>
										{% if resturant.resturantbrand_file %}
										<img src="{{base_url}}upload/logoimages/{{resturant.resturantbrand_file}}" title="Restaurant Logo" alt="Restaurant Logo" class="data_images" width="100">
										{%else%}
										<img src="{{base_url}}upload/companydefault.png" title="Restaurant Logo" alt="Restaurant Logo" class="data_images" width="100">
										{%endif%}
										<br/>
										<b>{{ resturant.resturantbrand_name|e }}</b><br/>
										<span>{{ resturant.resturantbrand_email|e }}</span><br/>
										<span>{{ resturant.resturantbrand_phoneno|e }}</span><br/>
										 <a href="#" data-toggle="modal" data-target="#myModal-view1" class="view-modal1" data-rid="{{ resturant.resturantbrand_id|e }}" data-created="{{ resturant.resturantbrand_created|e }}"><i class="fa fa-eye"></i></a>
      <a href="#" class="modal-edit" data-rid="{{ resturant.resturantbrand_id|e }}" data-id="{{ base_url }}admin/resturant/edit/{{ resturant.resturantbrand_id|e }}" data-toggle="modal" data-target="#myModal-edit"><i class="fa fa-pencil"></i></a>
      <a href="#" onclick="confirmDeleteModal('{{ resturant.resturantbrand_id|e }}')"><i class="fa fa-trash-o"></i></a>
										</td>
    								
										
										<td class="status {{ resturant.resturantbrand_id|e }}">
											{% if resturant.resturantbrand_status == 1 %}
												<div class="active-button" onclick="statusFunction({{ resturant.resturantbrand_id|e }},0)">Active</div>
											{% else %}
												<div class="inactive-button" onclick="statusFunction({{ resturant.resturantbrand_id|e }},1)">Inactive</div>
											{% endif %}
										</td>
										<td>

 
  <a href="{{ base_url }}admin/resturant/branches/{{ resturant.resturantbrand_id|e }}"><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{constant('VIEW BRANCHES')}}</button></a>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{constant('Global Settings')}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
  
        <li><a href="{{ base_url }}admin/category/resturant/{{ resturant.resturantbrand_id|e }}/{{ resturant.resturantbrand_country|e }}">{{constant('CATEGORY MANAGEMENT')}}</a></li>
        <li><a href="{{ base_url }}admin/menus/resturant/{{ resturant.resturantbrand_id|e }}/{{ resturant.resturantbrand_country|e }}">{{constant('ITEMS MANAGEMENT')}}</a></li>
        <li><a href="{{ base_url }}admin/commission/commission/{{ resturant.resturantbrand_id|e }}/{{ resturant.resturantbrand_country|e }}">{{constant('COMMISSION MANAGEMENT')}}</a></li>
		<li><a href="{{ base_url }}admin/delivery/delivery/{{ resturant.resturantbrand_id|e }}/{{ resturant.resturantbrand_country|e }}">{{constant('DELIVERY DRIVER MANAGEMENT')}}</a></li>
    </ul>
  </div>  
 
										    
										</td>
										</tr>
									{% endfor %}
									{% else %}									
							<tr>									
							<td class="record" colspan="7" >
							{{ constant('NO RECORD FOUND')}} </td>								
							</tr>							
							{% endif %}	
											</tbody>
                                </table>
         
            <nav class="my-4 pagenation-border">
               {{ links|raw  }}
                <div class="total-records">
                    <div>{% if results %}
							{{start}}-{{end}} {{ constant('RECORD')}}
							{% else %}
							
							0 {{ constant('RECORD')}}
							{% endif %}</div>
                </div>
            </nav>
            <!--/Pagination -->
                  </div>
             </div>
      </div>

     <div class="clearfix"> </div>
</div>
<!--main page chit chating end here-->

<!--climate end here-->
</div>
<!--inner block end here-->
<!--copy rights start here-->
	{% include 'admin/lib/footer.html' %}	
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
  	{% include 'admin/lib/sidebar.html' %}
</div>


<!--latest user add-->

<!--latest resturent add-->
<div class="modal fade" id="myModal-resturent" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"> {{ constant('RESTURANT')}}  </h4>
			</div>
			<div class="col-md-12">
					<div class="card form-white" style="box-shadow: none;">
							<div class="card" style="box-shadow:none">
									<div class="card-body">
										<!-- Form contact -->
										<form name="resturantbrands" action="{{ base_url }}admin/resturant/add" method="post"  enctype="multipart/form-data">
										    <div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<input type="hidden" name="resturantbrand_type" class="" id="resturantbrand_type" >											
													<i class="fa fa-user prefix grey-text"></i><label for="resturantbrand_name"> {{ constant('NAME')}}  </label>
													<input type="text" id="resturantbrand_name" MAXLENGTH="70" placeholder="{{ constant('ENTER')}} {{ constant('NAME')}}" name="resturantbrand_name" class="form-control">
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-user prefix grey-text"></i><label for="resturantbrand_displayname">{{ constant('DISPLAY NAME')}}</label>
													<input type="text" id="resturantbrand_displayname" MAXLENGTH="70" placeholder="{{ constant('ENTER')}} {{ constant('DISPLAY NAME')}}" name="resturantbrand_displayname" class="form-control">
												</div>
											</div>
											<div class="col-md-12" style="padding:0px;">												
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-envelope prefix grey-text"></i>	<label for="resturantbrand_email">{{ constant('EMAIL')}}  </label>
													<input type="email" id="resturantbrand_email" MAXLENGTH="50" placeholder="{{ constant('ENTER')}} {{ constant('EMAIL')}}" name="resturantbrand_email" class="form-control">
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-phone prefix grey-text"></i><label for="resturantbrand_phoneno">{{ constant('PHONENO')}}  </label>
													<input type="tel" id="resturantbrand_phoneno" min='0' MAXLENGTH="20" placeholder="{{ constant('ENTER')}} {{ constant('PHONENO')}}" name="resturantbrand_phoneno" class="form-control">
												</div>
											</div>											    
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-globe prefix grey-text"></i>
													<label for="resturantbrand_country">{{constant('COUNTRY')}}</label>
													<select id="resturantbrand_country" name="resturantbrand_country" class="selectpicker form-control-select">
													<option value="">{{constant('PLEASE SELECT')}}</option>
													{% if all_countries %}
														{% for key,country in all_countries %} 
															{% if country.country_status == 1 %}
																<option value="{{ country.country_code|e}}">{{ country.country_name|e }}</option>
															{% endif %}
														{% endfor %}
													{% endif %}
													</select>
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-compass prefix grey-text"></i>
													<label for="resturantbrand_region">{{constant('REGION')}}</label>
													<select id="resturantbrand_region" name="resturantbrand_region" class="selectpicker form-control-select">
													<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
											</div>
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-location-arrow prefix grey-text"></i>
													<label for="resturantbrand_city">{{constant('CITY')}}</label>
													<select id="resturantbrand_city" name="resturantbrand_city" class="selectpicker form-control-select">
														<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-sitemap prefix grey-text"></i>
													<label for="resturantbrand_zone">{{constant('ZONE')}}</label>
													<select id="resturantbrand_zone" name="resturantbrand_zone" class="selectpicker form-control-select">
														<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
											</div>
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-road prefix grey-text"></i>
													<label for="resturantbrand_location">{{constant('LOCATION')}}</label>
													<select id="resturantbrand_location" name="resturantbrand_location" class="selectpicker form-control-select">
														<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
												<div class="col-md-6 md-form">											
													<i class="fa fa-address-card prefix grey-text"></i><label for="resturantbrand_address">{{ constant('ADDRESS')}}</label>
													<textarea type="text" id="resturantbrand_address" MAXLENGTH="500" placeholder="{{ constant('ENTER')}} {{ constant('ADDRESS')}}" name="resturantbrand_address" class="md-textarea" style="height: 30px"></textarea>
												</div>	
											</div>
												<div class="col-md-12 md-form">
													<i class="fa fa-image prefix grey-text"></i><label for="resturantbrand_countusers">{{ constant('RESTURANT') }} {{ constant('LOGO') }} </label>
													<input type="file" id="resturantbrand_file"  name="resturantbrand_file" class="form-control">
												</div>
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form">
													<i class="fa fa-user prefix grey-text"></i><label for="resturantbrand_countusers">{{ constant('COUNTUSERS')}} </label>
													<input type="number" id="resturantbrand_countusers" min="0" placeholder="{{ constant('ENTER')}} {{ constant('COUNTUSERS')}}" name="resturantbrand_countusers" class="form-control">
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-tags prefix grey-text"></i><label for="resturantbrand_countpos">{{ constant('COUNTPOS')}} </label>
													<input type="number" id="resturantbrand_countpos" min="0" placeholder="{{ constant('ENTER')}} {{ constant('COUNTPOS')}}" name="resturantbrand_countpos" class="form-control">
												</div>
											</div>
											<div class="col-md-12 text-center">
												<button class="btn btn-success">{{ constant('SUBMIT')}}</button>
												<button type="button" class="btn btn-default" data-dismiss="modal">{{ constant('CANCEL')}}</button>
											</div>
										</form>
										<!-- Form contact -->
									</div>
								</div>
						</div>
			</div>
			
				
			<div class="modal-footer">
			  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		  </div>
		  
		</div>
	  </div>

	  
	  
<div class="modal fade" id="myModal-edit" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title"> {{ constant('EDIT')}} {{ constant('RESTURANT')}}  </h4>
			</div>
			<div class="col-md-12">
					<div class="card form-white" style="box-shadow: none;">
							<div class="card" style="box-shadow:none">
									<div class="card-body">
										<!-- Form contact -->
										<form id="edit_dept_form" name="edit_dept_form" action="" method="post">										
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<input type="hidden" name="resturantbrand_type" class="" id="resturantbrand_type" >											
													<i class="fa fa-user prefix grey-text"></i><label for="resturantbrand_name"> {{ constant('NAME')}}  </label>
													<input type="text" id="resturantbrand_name2" MAXLENGTH="70" placeholder="{{ constant('ENTER')}} {{ constant('NAME')}}" name="resturantbrand_name" class="form-control">
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-user prefix grey-text"></i><label for="resturantbrand_displayname">{{ constant('DISPLAY NAME')}}</label>
													<input type="text" id="resturantbrand_displayname2" MAXLENGTH="70" placeholder="{{ constant('ENTER')}} {{ constant('DISPLAY NAME')}}" name="resturantbrand_displayname" class="form-control">
												</div>
											</div>
											<div class="col-md-12" style="padding:0px;">												
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-envelope prefix grey-text"></i>	<label for="resturantbrand_email">{{ constant('EMAIL')}}  </label>
													<input readonly type="email" id="resturantbrand_email2" MAXLENGTH="50" placeholder="{{ constant('ENTER')}} {{ constant('EMAIL')}}" name="resturantbrand_email" class="form-control">
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-phone prefix grey-text"></i><label for="resturantbrand_phoneno">{{ constant('PHONENO')}}  </label>
													<input type="tel" id="resturantbrand_phoneno2" min='0' MAXLENGTH="20" placeholder="{{ constant('ENTER')}} {{ constant('PHONENO')}}" name="resturantbrand_phoneno" class="form-control">
												</div>
											</div>											    
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-globe prefix grey-text"></i>
													<label for="resturantbrand_country">{{constant('COUNTRY')}}</label>
													<select id="resturantbrand_country2" name="resturantbrand_country" class="selectpicker form-control-select">
													<option value="">{{constant('PLEASE SELECT')}}</option>
													{% if all_countries %}
														{% for key,country in all_countries %} 
															{% if country.country_status == 1 %}
																<option value="{{ country.country_code|e}}">{{ country.country_name|e }}</option>
															{% endif %}
														{% endfor %}
													{% endif %}
													</select>
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-compass prefix grey-text"></i>
													<label for="resturantbrand_region">{{constant('REGION')}}</label>
													<select id="resturantbrand_region2" name="resturantbrand_region" class="selectpicker form-control-select">
													<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
											</div>
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-location-arrow prefix grey-text"></i>
													<label for="resturantbrand_city">{{constant('CITY')}}</label>
													<select id="resturantbrand_city2" name="resturantbrand_city" class="selectpicker form-control-select">
														<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-sitemap prefix grey-text"></i>
													<label for="resturantbrand_zone">{{constant('ZONE')}}</label>
													<select id="resturantbrand_zone2" name="resturantbrand_zone" class="selectpicker form-control-select">
														<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
											</div>
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-road prefix grey-text"></i>
													<label for="resturantbrand_location">{{constant('LOCATION')}}</label>
													<select id="resturantbrand_location2" name="resturantbrand_location" class="selectpicker form-control-select">
														<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
												<div class="col-md-6 md-form">											
													<i class="fa fa-address-card prefix grey-text"></i><label for="resturantbrand_address">{{ constant('ADDRESS')}}</label>
													<textarea type="text" id="resturantbrand_address2" MAXLENGTH="500" placeholder="{{ constant('ENTER')}} {{ constant('ADDRESS')}}" name="resturantbrand_address" class="md-textarea" style="height: 30px"></textarea>
												</div>	
											</div>
											<div class="col-md-12 md-form">
												<i class="fa fa-image prefix grey-text"></i><label for="resturantbrand_file">{{ constant('RESTURANT') }} {{ constant('LOGO') }} </label>
												<input type="file" id="resturantbrand_file2"  name="resturantbrand_file" class="form-control">
											</div>
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-user prefix grey-text"></i><label for="resturantbrand_countusers">{{ constant('COUNTUSERS')}} </label>
													<input type="number" id="resturantbrand_countusers2" min="0" placeholder="{{ constant('ENTER')}} {{ constant('COUNTUSERS')}}" name="resturantbrand_countusers" class="form-control">
												</div>
												<div class="col-md-6 md-form" >
													<i class="fa fa-tags prefix grey-text"></i><label for="resturantbrand_countpos">{{ constant('COUNTPOS')}} </label>
													<input type="number" id="resturantbrand_countpos2" min="0" placeholder="{{ constant('ENTER')}} {{ constant('COUNTPOS')}}" name="resturantbrand_countpos" class="form-control">
												</div>
											</div>
											<div class="col-md-12 text-center">
												<button class="btn btn-success">{{ constant('SUBMIT')}}</button>
												<button type="button" class="btn btn-default" data-dismiss="modal">{{ constant('CANCEL')}}</button>
											</div>
										</form>
										<!-- Form contact -->
									</div>
								</div>
						</div>
			</div>
			
				
			<div class="modal-footer">
			  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		  </div>
		  
		</div>
	  </div>

	  
	  
	  
	  
	  <input type="hidden" id="dashboard" value="{{ base_url }}admin/user/dashboard_list">
<!--latest resturent add-->


	  <div class="modal fade" id="myModal-view1" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{ constant('VIEW')}} {{ constant('RESTURANT')}}</h4>
			</div>
			<div class="col-md-12">
                <div class="card form-white" style="box-shadow: none;">
                        <div class="card" style="box-shadow:none">
                                <div class="card-body">
                                    <!-- Form contact -->                                    
                                            <div class="col-md-12 md-form" style="padding:0px;">    
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-user prefix grey-text"></i><label for="rest_name">Name</label>
													<input type="text" id="rest_name" class="form-control" placeholder="Name" readonly>	
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-user prefix grey-text"></i><label for="form21">Display Name</label>
													<input type="text" id="rest_displayname" class="form-control" placeholder="Display NAme" readonly>
												</div>
											</div>
											<div class="col-md-12" style="padding:0px;">												           
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-envelope prefix grey-text"></i><label for="form341">Email</label>
													<input type="email" id="rest_email" class="form-control" placeholder="Email" readonly>
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-phone prefix grey-text"></i><label for="form341">Phone</label>
													<input type="number" id="rest_phone" class="form-control" placeholder="Phone" readonly>													
												</div>
                                            </div>
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-globe prefix grey-text"></i>
													<label for="resturantbrand_country">{{constant('COUNTRY')}}</label>
													<select id="rest_country" name="resturantbrand_country" class="selectpicker form-control-select" disabled>
													<option value="">{{constant('PLEASE SELECT')}}</option>
													{% if all_countries %}
														{% for key,country in all_countries %} 
															{% if country.country_status == 1 %}
																<option value="{{ country.country_code|e}}">{{ country.country_name|e }}</option>
															{% endif %}
														{% endfor %}
													{% endif %}
													</select>
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-compass prefix grey-text"></i>
													<label for="rest_region">{{constant('REGION')}}</label>
													<select id="rest_region" name="resturantbrand_region" class="selectpicker form-control-select" disabled>
													<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
											</div>
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-location-arrow prefix grey-text"></i>
													<label for="rest_city">{{constant('CITY')}}</label>
													<select id="rest_city" name="resturantbrand_city" class="selectpicker form-control-select" disabled>
														<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
												<div class="col-md-6 md-form">
													<i class="fa fa-sitemap prefix grey-text"></i>
													<label for="rest_zone">{{constant('ZONE')}}</label>
													<select id="rest_zone" name="resturantbrand_zone" class="selectpicker form-control-select" disabled>
														<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
											</div>
											<div class="col-md-12" style="padding:0px;">
												<div class="col-md-6 md-form" style="padding:0px;">
													<i class="fa fa-road prefix grey-text"></i>
													<label for="rest_location">{{constant('LOCATION')}}</label>
													<select id="rest_location" name="resturantbrand_location" class="selectpicker form-control-select" disabled>
														<option value="">{{constant('PLEASE SELECT')}}</option>
													
													</select>
												</div>
												<div class="col-md-6 md-form">											
													<i class="fa fa-address-card prefix grey-text"></i><label for="resturantbrand_address">{{ constant('ADDRESS')}}</label>
													<textarea type="text" readonly id="rest_address" MAXLENGTH="500" placeholder="{{ constant('ENTER')}} {{ constant('ADDRESS')}}" name="resturantbrand_address" class="md-textarea" style="height: 30px"></textarea>
												</div>	
											</div>
											<div class="col-md-12 md-form" >
												<i class="fa fa-image prefix grey-text"></i>
												<label for="resturantbrand_file" class="rest_logo_lbl">{{ constant('RESTURANT') }} {{ constant('LOGO') }} </label>
											</div>
											<div class="col-md-12 md-form" style="padding:0px;">
												
                                                    <i class="fa fa-500px prefix grey-text"></i>  <label for="form341">Created</label>
                                                    <input type="text" id="rest_created" class="form-control" placeholder="Created" readonly>                                                  
                                                                                             
											</div>                                
                                    <!-- Form contact -->
                                </div>
                            </div>
                    </div>
        </div>

			<div class="modal-footer">
			  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		  </div>
		  
		</div>
	  </div>

<div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{constant('DELETE')}} </h4>
            </div>
            <div class="modal-body">
                <p>{{ constant('SURE DELETE') }}</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
				<span id= 'deleteButton'></span>
            </div>
			
        </div>
      </div>
  </div>

<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
	<script src="{{base_url}}assets/js/jquery.nicescroll.js"></script>
		<script src="{{base_url}}assets/js/scripts.js"></script>
		<!--//scrolling js-->
<script src="{{base_url}}assets/js/bootstrap.js"> </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
<!-- mother grid end here-->
<script type="text/javascript">
function countryFunction(code){
var urlData='{{ base_url }}admin/resturant/countrywise/';
$.ajax(
			{
				url : urlData,
				type: "POST",
	            data : {code:code},
				crossDomain: true,
			    success:function(response) 
				{
				var data = $.parseJSON(response);	
			
					$('.table-responsive').html(data);
					
				}
			});
}
function statusFunction(id,value){
		var urlData='{{ base_url }}admin/resturant/updateStatus/'+id+'/'+value;
		$.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
			    success:function(response) 
				{
					var data = $.parseJSON(response);	
					$.each(data.cur_status, function( key, value ) {						
						if(value.resturantbrand_status == 1){															
							$('td.status.'+value.resturantbrand_id).html("<div class='active-button' onclick='statusFunction("+value.resturantbrand_id+",0)'>Active</div>");							
						}else{
							$('td.status.'+value.resturantbrand_id).html("<div class='inactive-button' onclick='statusFunction("+value.resturantbrand_id+",1)'>Inactive</div>");							
						}
					});				
				}
			});
	}
	
// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='resturantbrands']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
		resturantbrand_name: "required",
		resturantbrand_displayname: "required",
		resturantbrand_email: {
						required: true,
						email: true
						},
        resturantbrand_file: "required",
		resturantbrand_phoneno: {
						required: true,
						number: true
						}, 
		resturantbrand_address: "required",
		resturantbrand_countusers:{
						required: true,
						number: true
						},
		resturantbrand_countpos:{
						required: true,
						number: true
						},
		resturantbrand_country: "required",
		resturantbrand_region: "required",
		resturantbrand_zone: "required",
		resturantbrand_city: "required",
		resturantbrand_location: "required",
    },
    // Specify validation error messages
    messages: {
        resturantbrand_name: "Please enter your Name.",
		resturantbrand_displayname: "Please enter your Display Name.",
		resturantbrand_email: {
						required: "Please enter your email",
						email: "Please enter a valid email",
						},
		resturantbrand_file: "Please select logo",
		resturantbrand_phoneno: {
						required: "Please enter your phoneno.",
						number: "It must be numeric"
						}, 
		resturantbrand_address: "Please enter your Address.",
		resturantbrand_countusers:{
						required: "Please enter users count.",
						number: "It must be numeric"
						},
		resturantbrand_countpos:{
						required: "Please enter POS count.",
						number: "It must be numeric"
						},
		resturantbrand_country: "Please Select Country",
		resturantbrand_region: "Please Select Region",
		resturantbrand_zone: "Please Select Zone",
		resturantbrand_city: "Please Select City",
		resturantbrand_location: "Please Select Location",
  
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
	     
		 var urlData = $(form).attr('action');
		 var dashboard = $('#dashboard').attr('value');
		 var input = document.getElementById("resturantbrand_file");
          file = input.files[0];
          	formData= new FormData();
          	
		  if(file != undefined){
	
			if(!!file.type.match(/image.*/)){
				formData.append("image", file);
			}else{
				$('#resturantbrand_file').after('<label id="resturantbrand_file-error" class="error" for="resturantbrand_file">Uploaded file is not a valid image. Only JPG, PNG and GIF files are allowed.</label>');
				return false;
			}
		}

		formData.append('resturantbrand_name', $('#resturantbrand_name').val());
		formData.append('resturantbrand_displayname', $('#resturantbrand_displayname').val());
		formData.append('resturantbrand_email', $('#resturantbrand_email').val());
		formData.append('resturantbrand_phoneno', $('#resturantbrand_phoneno').val());
		formData.append('resturantbrand_address', $('#resturantbrand_address').val());
		formData.append('resturantbrand_countusers', $('#resturantbrand_countusers').val());
		formData.append('resturantbrand_countpos', $('#resturantbrand_countpos').val());
		formData.append('resturantbrand_type', 0);
		formData.append('resturantbrand_country', $('#resturantbrand_country').val());
		formData.append('resturantbrand_region', $('#resturantbrand_region').val());
		formData.append('resturantbrand_zone', $('#resturantbrand_zone').val());
		formData.append('resturantbrand_city', $('#resturantbrand_city').val());
		formData.append('resturantbrand_location', $('#resturantbrand_location').val());
				
		 $.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
				data : formData,
				processData: false,
				contentType: false,
				cache:false,
				success:function(data) 
				{
				   var data = $.parseJSON(data);
				   if(data.error == 'true'){
					   if(data.msg=='false'){
					    $.each(data.error_msg, function( index, value ) { 
						$('#'+index).after('<label id="'+index+'-error" class="error" for="'+index+'">'+value+'</label>');
                       });
					   }else{
					   $('form[name="resturantbrands"]')[0].reset();
						 $('form[name="resturantbrands"]').before('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>') ;
						if($('.alert').delay(10000).fadeOut(100)){
                           window.location.reload();
						   }
					   }
					   
					}else{
					$('form[name="resturantbrands"]')[0].reset();
					$('form[name="resturantbrands"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>');
					if($('.alert').delay(10000).fadeOut(100)){
				    window.location.reload();
					}
            		}
				}
			});

    }
  });
});
</script>


<script type="text/javascript">

	// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='edit_dept_form']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
		resturantbrand_name: "required",
		resturantbrand_displayname: "required",
		resturantbrand_email: {
						required: true,
						email: true
						},

		resturantbrand_phoneno: {
						required: true,
						number: true
						}, 
		resturantbrand_address: "required",
		resturantbrand_countusers:{
						required: true,
						number: true
						},
		resturantbrand_countpos:{
						required: true,
						number: true
						}	,
		resturantbrand_country: "required",
		resturantbrand_region: "required",
		resturantbrand_zone: "required",
		resturantbrand_city: "required",
		resturantbrand_location: "required",
    },
    // Specify validation error messages
    messages: {
        resturantbrand_name: "Please enter your Name.",
		resturantbrand_displayname: "Please enter your Display Name.",
		resturantbrand_email: {
						required: "Please enter your email",
						email: "Please enter a valid email",
						},
		resturantbrand_phoneno: {
						required: "Please enter your phoneno.",
						number: "It must be numeric"
						}, 
		resturantbrand_address: "Please enter your Address.",
		resturantbrand_countusers:{
						required: "Please enter users count.",
						number: "It must be numeric"
						},
		resturantbrand_countpos:{
						required: "Please enter POS count.",
						number: "It must be numeric"
						},
		resturantbrand_country: "Please Select Country",
		resturantbrand_region: "Please Select Region",
		resturantbrand_zone: "Please Select Zone",
		resturantbrand_city: "Please Select City",
		resturantbrand_location: "Please Select Location",
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) { 
	     //var formData = $(form).serialize();
		 var urlData = $(form).attr('action');
		 var input = document.getElementById("resturantbrand_file2");
			file = input.files[0];
			formData= new FormData();
			if(file != undefined){				
				if(!!file.type.match(/image.*/)){
					formData.append("image", file);
				}else{
					$('#resturantbrand_file2').after('<label id="resturantbrand_file2-error" class="error" for="resturantbrand_file">Uploaded file is not a valid image. Only JPG, PNG and GIF files are allowed.</label>');
					return false;
				}
			}
			formData.append('resturantbrand_name', $('#resturantbrand_name2').val());
			formData.append('resturantbrand_displayname', $('#resturantbrand_displayname2').val());
			formData.append('resturantbrand_email', $('#resturantbrand_email2').val());
			formData.append('resturantbrand_phoneno', $('#resturantbrand_phoneno2').val());
			formData.append('resturantbrand_address', $('#resturantbrand_address2').val());
			formData.append('resturantbrand_countusers', $('#resturantbrand_countusers2').val());
			formData.append('resturantbrand_countpos', $('#resturantbrand_countpos2').val());
			formData.append('resturantbrand_type', 0);
			formData.append('resturantbrand_country', $('#resturantbrand_country2').val());
			formData.append('resturantbrand_region', $('#resturantbrand_region2').val());
			formData.append('resturantbrand_zone', $('#resturantbrand_zone2').val());
			formData.append('resturantbrand_city', $('#resturantbrand_city2').val());
			formData.append('resturantbrand_location', $('#resturantbrand_location2').val());
			
		 $.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
				data : formData,
				processData: false,
				contentType: false,
				cache:false,
				success:function(data) 
				{
				   var data = $.parseJSON(data);
					if(data.error == 'true'){
					  
						$.each(data.error_msg, function( index, value ) {
						$('#'+index).after('<label id="'+index+'-error" class="error" for="user_name">'+value+'</label>');
                       });
					  
					}else{
					$('form[name="edit_dept_form"]')[0].reset();
					$('form[name="edit_dept_form"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>');
					if($('.alert').delay(10000).fadeOut(100)){
                     window.location.reload();
					 }
            		}
				}
			});
    }
  });
});
</script>
 <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	
	<script language="javascript">
	
    $(document).on('click',".modal-edit,.view-modal1",function(e) {  

		e.preventDefault();
		$('#edit_dept_form').attr('action',$(this).data('id'));
		var rest_id = $(this).data('rid');
		$('.data_images').remove();
		$('#resturantbrand_region2').html('<option value="">{{constant("PLEASE SELECT")}}</option>');
		$('#rest_region').html('<option value="">{{constant("PLEASE SELECT")}}</option>');
		$('#resturantbrand_city2').html('<option value="">{{constant("PLEASE SELECT")}}</option>');
		$('#rest_city').html('<option value="">{{constant("PLEASE SELECT")}}</option>');
		$('#resturantbrand_zone2').html('<option value="">{{constant("PLEASE SELECT")}}</option>');
		$('#rest_zone').html('<option value="">{{constant("PLEASE SELECT")}}</option>');
		$('#resturantbrand_location2').html('<option value="">{{constant("PLEASE SELECT")}}</option>');
		$('#rest_location').html('<option value="">{{constant("PLEASE SELECT")}}</option>');
		
			var urlData='{{ base_url }}admin/resturant/edit_view/'+rest_id;

			$.ajax(

				{

					url : urlData,

					type: "POST",

					crossDomain: true,

					success:function(data) 

					{ 

						var data = $.parseJSON(data);	

						$.each(data.related_regions, function( key, value ) {

							$('#resturantbrand_region2').append('<option value="' + value.region_code + '">' + value.region_name + '</option>');								

							$('#rest_region').append('<option value="' + value.region_code + '">' + value.region_name + '</option>');								

						});	
						$.each(data.related_cities, function( key, value ) {
							$.each(value, function( key1, value1 ) {
							
								$('#resturantbrand_city2').append('<option value="' + value1.city_code + '">' + value1.city_name + '</option>');

								$('#rest_city').append('<option value="' + value1.city_code + '">' + value1.city_name + '</option>');
							});
						});

						$.each(data.related_zone, function( key, value ) {

							$('#resturantbrand_zone2').append('<option value="' + value.zone_code + '">' + value.zone_name + '</option>');

							$('#rest_zone').append('<option value="' + value.zone_code + '">' + value.zone_name + '</option>');

						});
						
						$.each(data.related_locations, function( key, value ) {
							$.each(value, function( key1, value1 ) {
							
								$('#resturantbrand_location2').append('<option value="' + value1.location_code + '">' + value1.location_name + '</option>');

								$('#rest_location').append('<option value="' + value1.location_code + '">' + value1.location_name + '</option>');
							});
						});

						$.each(data.edit_view, function( key, value ) {

							$('#resturantbrand_name2').val(value.resturantbrand_name);							
							$('#rest_name').val(value.resturantbrand_name);
							$('#resturantbrand_displayname2').val(value.resturantbrand_displayname);							
							$('#rest_displayname').val(value.resturantbrand_displayname);							
							$('#resturantbrand_email2').val(value.resturantbrand_email);
							$('#rest_email').val(value.resturantbrand_email);
							$('#resturantbrand_phoneno2').val(value.resturantbrand_phoneno);
							$('#rest_phone').val(value.resturantbrand_phoneno);
							$('#resturantbrand_country2').find('option[value="'+value.resturantbrand_country+'"]').prop("selected", true);		
							$('#rest_country').find('option[value="'+value.resturantbrand_country+'"]').prop("selected", true);		
							$('#resturantbrand_region2').find('option[value="'+value.resturantbrand_region+'"]').prop("selected", true);		
							$('#rest_region').find('option[value="'+value.resturantbrand_region+'"]').prop("selected", true);		
							$('#resturantbrand_city2').find('option[value="'+value.resturantbrand_city+'"]').prop("selected", true);		
							$('#rest_city').find('option[value="'+value.resturantbrand_city+'"]').prop("selected", true);		
							$('#resturantbrand_zone2').find('option[value="'+value.resturantbrand_zone+'"]').prop("selected", true);		
							$('#rest_zone').find('option[value="'+value.resturantbrand_zone+'"]').prop("selected", true);		
							$('#resturantbrand_location2').find('option[value="'+value.resturantbrand_location+'"]').prop("selected", true);		
							$('#rest_location').find('option[value="'+value.resturantbrand_location+'"]').prop("selected", true);
							$('#resturantbrand_address2').text(value.resturantbrand_address);
							$('#rest_address').text(value.resturantbrand_address);
							$('#resturantbrand_countusers2').val(value.resturantbrand_countusers);
							$('#resturantbrand_countpos2').val(value.resturantbrand_countpos);
							$('#rest_created').val(value.resturantbrand_created);
							if(value.resturantbrand_file !=''){
								$('#resturantbrand_file2').after('<img class="data_images" width="100" src="{{base_url}}upload/logoimages/'+value.resturantbrand_file+'"><span class="data_images">'+value.resturantbrand_file+'</span>');
								$('.rest_logo_lbl').after('<img src="{{base_url}}upload/logoimages/'+value.resturantbrand_file+'" title="Restaurant Logo" alt="Restaurant Logo" class="data_images" width="100"/>');
							}
						});							

					}

				});
			
			var did = $(this).data('type');

			$('#resturantbrand_type2').find('option[value="'+did+'"]').prop("selected", true);
			
        });
    </script>
	<script type="text/javascript">

function confirmDeleteModal(id){
    $('#deleteModal').modal();
	$('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData('+id+')">{{constant("DELETE")}}</a>');
}     
function deleteData(id){
  // do your stuffs with id
  $("#successMessage").html("Record With id "+id+" Deleted successfully!");
  var urlData='{{ base_url }}admin/resturant/delete/'+id;
   $.ajax(
			{
				url : urlData,
				type: "POST",
			    success:function() 
				{
				$('#deleteModal').modal('hide'); // now close modal
				window.location.reload();
				}
			});
			
  
}  

</script>
<script>
$(document).ready(function(e){
	$('#resturantbrand_country,#resturantbrand_country2').change(function(){
	
			$('#resturantbrand_region,#resturantbrand_region2').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');
			$('#resturantbrand_city,#resturantbrand_city2').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');
			$('#resturantbrand_zone,#resturantbrand_zone2').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');
			$('#resturantbrand_location,#resturantbrand_location2').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');

			var cntry = $(this).val();
			var urlData='{{ base_url }}admin/resturant/related_regions/'+cntry;

			$.ajax(

				{
					url : urlData,

					type: "POST",

					crossDomain: true,

					success:function(data) 

					{
						var data = $.parseJSON(data);						

						   $.each(data.related_regions, function( key, value ) {

								$('#resturantbrand_region').append('<option value="' + value.region_code + '">' + value.region_name + '</option>');

								$('#resturantbrand_region2').append('<option value="' + value.region_code + '">' + value.region_name + '</option>');

						   });						

					}

				});

		});
		
		$('#resturantbrand_region,#resturantbrand_region2').change(function(){
	
			$('#resturantbrand_city,#resturantbrand_city2').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');
			$('#resturantbrand_zone,#resturantbrand_zone2').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');
			$('#resturantbrand_location,#resturantbrand_location2').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');

			var region = $(this).val();
			var urlData='{{ base_url }}admin/resturant/related_cities/'+region;

			$.ajax(

				{
					url : urlData,

					type: "POST",

					crossDomain: true,

					success:function(data) 

					{
						var data = $.parseJSON(data);						

							$.each(data.related_cities, function( key, value ) {
								$.each(value, function( key1, value1 ) {
									$('#resturantbrand_city').append('<option value="' + value1.city_code + '">' + value1.city_name + '</option>');
									$('#resturantbrand_city2').append('<option value="' + value1.city_code + '">' + value1.city_name + '</option>');
								});
							});						

					}

				});

		});
		
		$('#resturantbrand_city,#resturantbrand_city2').change(function(){
	
			$('#resturantbrand_zone,#resturantbrand_zone2').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');
			$('#resturantbrand_location,#resturantbrand_location2').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');

			var city = $(this).val();
			var urlData='{{ base_url }}admin/resturant/related_zone/'+city;

			$.ajax(

				{
					url : urlData,

					type: "POST",

					crossDomain: true,

					success:function(data) 

					{
						var data = $.parseJSON(data);						
							$.each(data.related_zone, function( key, value ) {
									$('#resturantbrand_zone').append('<option value="' + value.zone_code + '">' + value.zone_name + '</option>');
									$('#resturantbrand_zone2').append('<option value="' + value.zone_code + '">' + value.zone_name + '</option>');
							});	
							$.each(data.related_locations, function( key, value ) {
								$.each(value, function( key1, value1 ) {
									$('#resturantbrand_location').append('<option value="' + value1.location_code + '">' + value1.location_name + '</option>');
									$('#resturantbrand_location2').append('<option value="' + value1.location_code + '">' + value1.location_name + '</option>');
								});
							});	

					}

				});

		});
		
		$('#resturantbrand_zone,#resturantbrand_zone2').change(function(){	
			
			$('#resturantbrand_location,#resturantbrand_location2').html('<option value="">{{ constant("PLEASE SELECT")}}</option>');

				var zone = $(this).val();
				var urlData='{{ base_url }}admin/resturant/related_locations/'+zone;

			$.ajax(

				{
					url : urlData,

					type: "POST",

					crossDomain: true,

					success:function(data) 

					{
						var data = $.parseJSON(data);					
							
							$.each(data.related_locations, function( key, value ) {
								$.each(value, function( key1, value1 ) {
									$('#resturantbrand_location').append('<option value="' + value1.location_code + '">' + value1.location_name + '</option>');
									$('#resturantbrand_location2').append('<option value="' + value1.location_code + '">' + value1.location_name + '</option>');
								});
							});	

					}

				});

		});

});
</script>
</body>
</html>                     