{% include 'resturant/lib/header.html' %}
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
			{% include 'resturant/lib/nav.html' %}
					
			
<!--inner block start here-->
<div class="inner-block">
<!--mainpage chit-chating-->
<div class="chit-chat-layer1">
	<div class="col-md-12 col-sm-12 col-lg-12 chit-chat-layer1-left">
               <div class="work-progres">
                            <div class="chit-chat-heading">
								{{constant('MANAGE')}} {{ constant('POINT')}}
								  <a href="#" data-toggle="modal" data-target="#myModal" class="hvr-icon-float-away add-latest-user"></a>
							</div>
                            <div class="table-responsive">
                                <table class="table">
									<thead class="thead-inverse table-head-bg">
									<tr>
										<th>{{ constant('COUNTRY')}}</th>
										<th>{{ constant('POINTS')}}</th>
										<th>{{ constant('CALCULATION VALUE')}}</th>
										<th>{{ constant('STATUS')}}</th>
										<th>{{ constant('ACTION')}}</th>
									</tr>
									</thead>
									<tbody>	
									{% if results %}
											{% for key,setpoint in results %} 
												<tr>									
												<td>{{ setpoint.country_name|e }}</td>
												<td>{{ setpoint.setpoint_percent|e }}</td>
												<td>{{ setpoint.setpoint_value|e }}</td>
												<td class="status {{ setpoint.setpoint_id|e }}">
												{% if setpoint.setpoint_status == 1 %}
												   <div class="active-button" id="{{ setpoint.setpoint_id|e }}" onclick="statusFunction({{ setpoint.setpoint_id|e }},0)">Active</div>
												 {% else %}
												   <div class="inactive-button" id="{{ setpoint.setpoint_id|e }}" onclick="statusFunction({{ setpoint.setpoint_id|e }},1)">Inactive</div>
												{% endif %}
												</td>
												<td>
												<div class="market-update-right">
													<span><a href="#"  data-toggle="modal" data-id="{{ base_url }}resturant/point/edit/{{ setpoint.setpoint_id|e }}" data-percent="{{ setpoint.setpoint_percent|e }}" data-value="{{ setpoint.setpoint_value|e }}"   data-country="{{ setpoint.setpoint_country_id|e }}" data-target="#myModal-edit" class="modal-edit"><i class="fa fa-edit"></i></a></span>
													<span><a href="#" onclick="confirmDeleteModal('{{ setpoint.setpoint_id|e }}')"><i class="fa fa-trash"></i></a></span>
												</div>
												</td>
												</tr>
											{% endfor %}
									{% else %}									
									<tr>									
									<td class="record" colspan="4" >
									{{ constant('NO RECORD FOUND')}} </td>								
									</tr>							
									{% endif %}
										
									</tbody>
                                </table>
                                            <!--Pagination -->
            <nav class="my-4 pagenation-border">
              {{ links|raw  }}
                <div class="total-records">
                    <div>{% if results %}
							{{start}}-{{end}} {{ constant('RECORD')}}
							{% else %}
							
							0 {{ constant('RECORD')}}
							{% endif %}</div>
                </div>
            </nav>
            <!--/Pagination -->
                  </div>
             </div>
      </div>

     <div class="clearfix"> </div>
</div>
<!--main page chit chating end here-->

<!--climate end here-->
</div>
<!--inner block end here-->
<!--copy rights start here-->
	{% include 'resturant/lib/footer.html' %}	
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    	{% include 'resturant/lib/rest_branch_sidebar.html' %}
</div>
<!--slide bar menu end here-->

<!--Add country add-->

<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{constant('ADD')}} {{constant('POINT')}}</h4>
			</div>
			<div class="col-md-12">
					<div class="card form-white" style="box-shadow: none;">
							<div class="card" style="box-shadow:none">
									<div class="card-body">
										<!-- Form contact -->
										<form action="{{ base_url }}resturant/point/add/{{restaurant_id}}" method="POST" name="country_form">
											
										<div class="col-md-12 md-form">
											<i class="fa fa-globe prefix grey-text"></i>
											<label for="form31">{{constant('COUNTRY')}}<span class="required">*</span></label>
											<select id="country_rel" name="setpoint_country_id" class="selectpicker form-control-select">
											<option value="">{{constant('PLEASE SELECT')}}</option>
											{% if related_country %}
												{% for key,country in related_country %} 
													{% if country.country_status == 1 %}
														<option value="{{ country.country_code|e}}">{{ country.country_name|e }}</option>
													{% endif %}
												{% endfor %}
											{% endif %}
											</select>				
										</div>
										<div class="col-md-12 md-form">
											<i class="fa fa-viacoin prefix grey-text"></i>
											<label for="form31">{{constant('POINTS')}}<span class="required">*</span></label>
											<input type="number" min="0" id="setpoint_percent" name="setpoint_percent" class="form-control" placeholder="{{constant('ENTER')}} {{constant('POINTS')}}">												
										</div>
										<div class="col-md-12 md-form">
											<i class="fa fa-hand-grab-o prefix grey-text"></i>
											<label for="form31">{{constant('CALCULATION VALUE')}}<span class="required">*</span></label>
											<input type="number" set="any" min=0 id="setpoint_value" name="setpoint_value" class="form-control" placeholder="{{constant('ENTER')}} {{constant('CALCULATION VALUE')}}">												
										</div>								
											<div class="col-md-12 text-center">
												<button class="btn btn-success">{{constant('SUBMIT')}}</button>
												<button class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
											</div>
										</form>
										<!-- Form contact -->
									</div>
								</div>
						</div>
			</div>
			
				
				</form>
			<div class="modal-footer">
			  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		  </div>
		  
		</div>
	  </div>

<!--Add country add-->

<!--edit country add-->

<div class="modal fade" id="myModal-edit" role="dialog">
	<div class="modal-dialog">		
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{constant('EDIT')}} {{constant('POINT')}}</h4>
			</div>
			<div class="col-md-12">
				<div class="card form-white" style="box-shadow: none;">
					<div class="card" style="box-shadow:none">
						<div class="card-body">
							<!-- Form contact -->
							<form action="" id="edit_country_form" name="edit_country_form" method="POST">											
								<div class="col-md-12 md-form">
									<i class="fa fa-globe prefix grey-text"></i>
									<label for="form31">{{constant('COUNTRY')}}<span class="required">*</span></label>
									<select id="country_rel1" name="setpoint_country_id" class="selectpicker form-control-select">
									<option value="">{{constant('PLEASE SELECT')}}</option>
									{% if related_country %}
										{% for key,country in related_country %} 
											{% if country.country_status == 1 %}
												<option value="{{ country.country_code|e}}">{{ country.country_name|e }}</option>
											{% endif %}
										{% endfor %}
									{% endif %}
									</select>				
								</div>
								<div class="col-md-12 md-form">
									<i class="fa fa-viacoin prefix grey-text"></i>
									<label for="form31">{{constant('POINTS')}}<span class="required">*</span></label>
									<input type="number" min="0" id="setpoint_percent1" name="setpoint_percent" class="form-control" placeholder="{{constant('ENTER')}} {{constant('POINTS')}}">												
								</div>
								<div class="col-md-12 md-form">
									<i class="fa fa-hand-grab-o prefix grey-text"></i>
									<label for="form31">{{constant('CALCULATION VALUE')}}<span class="required">*</span></label>
									<input type="number" min=0 set="any" id="setpoint_value1" name="setpoint_value" class="form-control" placeholder="{{constant('ENTER')}} {{constant('CALCULATION VALUE')}}">												
								</div>							
								<div class="col-md-12 text-center">
									<button class="btn btn-success">{{constant('SUBMIT')}}</button>
									<button  class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
								</div>
							</form>
							<!-- Form contact -->
						</div>
					</div>
				</div>
			</div>
			
				
				</form>
			<div class="modal-footer">
			  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		  </div>
		  
		</div>
	  </div>

<!--edit department add-->
   <!----modal starts here --->
<div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{constant('DELETE')}} </h4>
            </div>
            <div class="modal-body">
                <p>Do You Really Want to Delete This ?</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
				<span id= 'deleteButton'></span>
            </div>
			
        </div>
      </div>
  </div>
<!--Modal ends here--->

<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
<script src="{{base_url}}/assets/js/jquery.validate.min.js"></script>
<script src="{{base_url}}assets/js/jquery.nicescroll.js"></script>
<script src="{{base_url}}assets/js/scripts.js"></script>
		<!--//scrolling js-->
<script src="{{base_url}}assets/js/bootstrap.js"> </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

<script type="text/javascript">
function statusFunction(id,value){
		var urlData='{{ base_url }}resturant/point/updateStatus/'+id+'/'+value;
		$.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
			    success:function(response) 
				{
					var data = $.parseJSON(response);	
					$.each(data.cur_status, function( key, value ) {						
						if(value.setpoint_status == 1){															
							$('td.status.'+value.setpoint_id).html("<div id="+value.setpoint_id+" class='active-button' onclick='statusFunction("+value.setpoint_id+",0)'>Active</div>");							
						}else{
							$('td.status.'+value.setpoint_id).html("<div id="+value.setpoint_id+" class='inactive-button' onclick='statusFunction("+value.setpoint_id+",1)'>Inactive</div>");							
						}
					});				
				}
			});
	}
	// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='country_form']").validate({
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
		setpoint_country_id: "required",
		setpoint_percent: {
					required: true,
					number: true
				},
		setpoint_value: "required",
    },
    // Specify validation error messages
    messages: {
      setpoint_country_id: "Please Select Country Name.",
      setpoint_percent: {
							required: "Please Enter points.",
							number: "It must be numeric"
						},
	  setpoint_value: "Please enter point value(amount).",
    },
    submitHandler: function(form) {
	     var formData = $(form).serialize();
		 var urlData = $(form).attr('action');
		 $.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
				data : formData,
				success:function(data) 
				{
				  var data = $.parseJSON(data);
					if(data.error == 'true'){
					   $.each(data.error_msg, function( index, value ) {
					  	$('#'+index).after('<label id="'+index+'-error" class="error" for="user_name">'+value+'</label>');
                       });
					   
					}else{
					$('form[name="country_form"]')[0].reset();
					$('form[name="country_form"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>');
					if($('.alert').delay(10000).fadeOut(100)){
					window.location.reload();
					}
				    
            		}
				}
			});
    }
  });
});


</script>

 <script language="javascript">
      $(".modal-edit").click(function(e) {  
	  e.preventDefault();
	  $('#setpoint_percent1').attr('value',$(this).data('percent'));
			$('#setpoint_value1').attr('value',$(this).data('value'));
			$('#edit_country_form').attr('action',$(this).data('id'));
			$('select#country_rel1').find('option[value="'+$(this).data('country')+'"]').prop("selected", true);			
        });
    </script>

	<script type="text/javascript">

	// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='edit_country_form']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
		setpoint_country_id: "required",
		setpoint_percent: {
					required: true,
					number: true
				},
		setpoint_value: "required",
    },
    // Specify validation error messages
    messages: {
      setpoint_country_id: "Please Select Country Name.",
      setpoint_percent: {
							required: "Please Enter points.",
							number: "It must be numeric"
						},
	  setpoint_value: "Please enter point value(amount).",
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
	     var formData = $(form).serialize();
		 var urlData = $(form).attr('action');
		 $.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
				data : formData,
				success:function(data) 
				{
				  var data = $.parseJSON(data);
					if(data.error == 'true'){
					   $.each(data.error_msg, function( index, value ) {
						$('#'+index).after('<label id="'+index+'-error" class="error" for="user_name">'+value+'</label>');
                       });
					   
					}else{
					$('form[name="country_form"]')[0].reset();
					$('form[name="country_form"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>');
					if($('.alert').delay(10000).fadeOut(100)){
					window.location.reload();
					}
				    
            		}
				}
			});
    }
  });
});


</script>

<script type="text/javascript">

function confirmDeleteModal(id){
    $('#deleteModal').modal();
	$('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData('+id+')">Delete</a>');
}     
function deleteData(id){
  // do your stuffs with id
  $("#successMessage").html("Record Deleted successfully!");
  var urlData='{{ base_url }}resturant/point/delete/'+id;
   $.ajax(
			{
				url : urlData,
				type: "POST",
			    success:function() 
				{
				$('#deleteModal').modal('hide'); // now close modal
				window.location.reload();
				}
			});
			
  
}  

</script>
</body>
</html>                     