{% include 'resturant/lib/header.html' %}
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				{% include 'resturant/lib/nav.html' %}
<div class="inner-block">
<!--mainpage chit-chating-->
<div class="chit-chat-layer1">
	<div class="col-md-12 col-sm-12 col-lg-12 chit-chat-layer1-left">
               <div class="col-md-2 col-sm-2 col-xs-12 col-lg-3"></div>
				<div class="col-md-8 col-sm-8 col-lg-12 col-lg-6 chit-chat-layer1-left">
               <div class="work-progres">
							<div class="modal-content">
			<div class="modal-header">
			  <!--<button type="button" class="close" data-dismiss="modal">×</button>-->
			  <h4 class="modal-title">{{constant('MY PROFILE')}}</h4>
			</div>
			<div class="col-md-12">
					<div class="card form-white" style="box-shadow: none;">
							<div class="card" style="box-shadow:none">
									<div class="card-body">
										<!-- Form contact -->
										{% if(success_massage) %}
											<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>{{success_massage}}</div>
										{% endif %}
										<form method="POST" action="{{ base_url }}resturant/user/profile1" name="userregistration">
												<div class="col-md-12" style="padding:0px;">	
											<div class="col-md-6 md-form">
												<i class="fa fa-user prefix grey-text active"></i>
													<label for="form31" class="active">{{ constant('NAME')}} <span class="required">*</span></label>
												<input type="text" maxlength="50" placeholder="{{constant('ENTER')}} {{ constant('NAME')}}" id="user_name" name="user_name" value="{{set_data.user_name}}" class="form-control">
											
											</div>
											<div class="col-md-6 md-form">
												<i class="fa fa-phone prefix grey-text"></i>
												<label for="form21">{{ constant('PHONENO')}} <span class="required">*</span></label>
												<input type="tel" min="0" maxlength="20" placeholder="{{constant('ENTER')}} {{ constant('PHONENO')}}" id="user_phoneno" name="user_phoneno" value="{{set_data.user_phoneno}}" class="form-control">
											</div>
											</div>
											<div class="col-md-12 md-form">
													<i class="fa fa-envelope prefix grey-text"></i>
													<label for="form341">{{ constant('EMAIL')}}<span class="required">*</span></label>
													<input type="email" maxlength="100" placeholder="{{constant('ENTER')}} {{ constant('EMAIL')}}" id="user_email" name="user_email" value="{{set_data.user_email}}" class="form-control">
												</div>
											<div class="col-md-12 md-form" style="">											
													<i class="fa fa-address-card prefix grey-text"></i>
													<label for="form81">{{ constant('ADDRESS')}}<span class="required">*</span></label>
													<textarea type="text" maxlength="500" placeholder="{{constant('ENTER')}} {{ constant('ADDRESS')}}" id="user_address" name="user_address" class="md-textarea" style="height: 30px" placeholder="Address" >{{set_data.user_address}}</textarea>
												
											</div>
											<div class="col-md-12" style="padding:0px;">													
												<div class="col-md-6 md-form">
													<i class="fa fa-building prefix grey-text"></i>
													<label for="form341">{{ constant('CITY')}}<span class="required">*</span></label>
													<input type="text" maxlength="50" placeholder="{{constant('ENTER')}} {{ constant('CITY')}}" id="user_city" name="user_city" value="{{set_data.user_city}}" class="form-control">
												</div>
												<div class="col-md-6 md-form">											    
													<i class="fa fa-map-pin prefix grey-text"></i>
													<label for="form341">{{constant('ZIPCODE')}}<span class="required">*</span></label>
													<input type="text" maxlength="7" placeholder="{{constant('ENTER')}} {{constant('ZIPCODE')}}" id="user_zipcode" name="user_zipcode" value="{{set_data.user_zipcode}}" class="form-control">
												</div>
											</div>											
											<div class="col-md-12 text-center">
												<button class="btn btn-success waves-effect waves-light">{{ constant('SUBMIT')}}</button>
											</div>
										</form>
										<!-- Form contact -->
									</div>
							</div>
					</div>
			</div>				
			<div class="modal-footer">
			  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		  </div>
	</div>
</div>
	<div class="col-md-2 col-sm-2 col-lg-3 col-xs-12"></div>			   
    </div>

    <div class="clearfix"> </div>
</div>
<!--main page chit chating end here-->

<!--climate end here-->
</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
	 <p>© 2018 Tabqy. All Rights Reserved | Design by  <a href="#" target="_blank">Askonlinesolutions</a> </p>
</div>	
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->

{% include 'resturant/lib/sidebar.html' %}
<!--slide bar menu end here-->

<style>
	.logo {
    width: auto;
    position: relative;
	left:0px;
	top:10px;
	}
	
</style>

<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
<script src="{{base_url}}/assets/js/jquery.validate.min.js"></script>
			<script src="{{base_url}}assets/js/jquery.nicescroll.js"></script>
		<script src="{{base_url}}assets/js/scripts.js"></script>
		<!--//scrolling js-->
<script src="{{base_url}}assets/js/bootstrap.js"> </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
<script type="text/javascript">


	// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='userregistration']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
		user_name: "required",
		
		user_phoneno: {
			required: true,
			number: true
        },
	
		user_address: "required",
		
		user_city: "required",
		user_zipcode: {
				required: true,
        },

        user_email: {
        required: true,
        // Specify that email should be validated
        // by the built-in "email" rule
        email: true
        },
       
    },
    // Specify validation error messages
    messages: {
      user_name: "Please enter your Name",
      user_phoneno: {
		required: "Please enter phone number",
		number: "Your Phone no  must be numeric"
		},
	  user_city: "Please enter your city",
	  user_address: "Please enter your address",
	 
     
		
		user_zipcode: {
		required: "Please enter zipcode",
		number: "Your zipcode must be numeric",
		},
		  user_email: {
        required: "Please enter  email address",
        // Specify that email should be validated
        // by the built-in "email" rule
        email: "Please enter a valid email address",
        },
  
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
	    var formData = $(form).serialize();
		var urlData = $(form).attr('action');
		 $.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
				data : formData,
				success:function(data) 
				{
				   var data = $.parseJSON(data);
					if(data.error == 'true'){
					  
						$.each(data.error_msg, function( index, value ) {
						$('#'+index).after('<label id="'+index+'-error" class="error" for="user_name">'+value+'</label>');
                       });
					  
					}else{
				//	$('form[name="userregistration"]')[0].reset();
					$('form[name="userregistration"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>');
					$('.alert').delay(1000).fadeOut(100);
                   
            		}
				}
			});
    
    }
  });
});
</script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script language="javascript">
   $(document).ready(function () {

            $("#user_dob").datepicker({
                changeMonth: true,
                changeYear: true,
				dateFormat: "yy-mm-dd",
				yearRange: "-90:+00"
            });
			});
</script>
</body>
</html>                     