{% include 'admin/lib/header.html' %}
<body>

	<!-- Main navbar -->
	{% include 'admin/lib/nav.html' %}
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			{% include 'admin/lib/sidebar.html' %}
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">

					<div class="success_msg" style="text-align:center;" >{{ success }}</div>
					<div class="error_msg" style="text-align:center;" >{{ error }} </div>
					
					<!--  Page content -->
					
					
					
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">{{ constant('VIEW')}}  <a href="{{ base_url}}admin/user/edit/{{ user.user_id|e }}" class="btn btn-primary btn-icon" ><i class="icon-pencil5"></i></a></h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>

						<div class="panel-body">
						  <div class="table-responsive">
							<table class="table">
								
								<tbody>
								
								
										
										<tr>
										<td><b>{{ constant('NAME')}} : </b></td>
										<td>{{ user.user_name|e }}</td>
										</tr>
										<tr>
										<td><b>{{ constant('USERNAME')}} : </b></td>
										<td>{{ user.user_username|e }}</td>
										</tr>
										<tr>
										<td><b>{{ constant('PHONENO')}} : </b></td>
										<td>{{ user.user_phoneno|e }}</td>
										</tr>
										<tr>
										<td><b>{{ constant('EMAIL')}} : </b></td>
										<td>{{ user.user_email|e }}</td>
										</tr>
										<tr>
										<td><b>{{ constant('ADDRESS')}} : </b></td>
										<td>{{ user.user_address|e }}</td>
										</tr>
								
										<tr>
										<td><b>{{ constant('GENDER')}} : </b></td>
										<td>{{ user.user_gender|e }}</td>
										</tr>
										<tr>
										<td><b>{{ constant('DEPT')}} : </b></td>
										<td>{{ user.department_name|e }}</td>
										</tr>
										
										<tr>
										<td><b>{{ constant('CITY')}} : </b></td>
										<td>{{ user.user_city|e }}</td>
										</tr>
										<tr>
										<td><b>{{ constant('DOB')}} : </b></td>
										<td>{{ user.user_dob|e }}</td>
										</tr>
										{% if user.user_doa %}
										<tr>
										<td><b>{{ constant('DOA')}} : </b></td>
										<td>{{ user.user_doa|e }}</td>
										</tr>
										{% endif %}
										<tr>
										<td><b>{{ constant('ZIPCODE')}} : </b></td>
										<td>{{ user.user_zipcode|e }}</td>
										</tr>
										<tr>
										<td><b>{{ constant('CREATED')}} : </b></td>
										<td>{{ user.user_created|e }}</td>
										</tr>
									
										
								
										
								</tbody>
							</table>
						
									
									
								<div class="text-right">
									<a href="{{ base_url }}admin/user/" type="button" class="btn btn-warning">{{ constant('BACK')}}</a>	
									<a href="{{ base_url }}admin/user/edit/{{ user.user_id|e }}" type="button" class="btn btn-primary">{{ constant('EDIT')}}</a>
								</div>
							
						</div>
					</div>
					
					
					
					
					
					
					
					<!-- /// Page content -->
					

				{% include 'admin/lib/footer.html' %}
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
