{% include 'admin/lib/header.html' %}

<body>
    <div class="page-container">
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                  {% include 'admin/lib/company_nav.html' %}
                <div class="inner-block">
                    <!--mainpage chit-chating-->
<!--               {%include 'admin/lib/company_breadcrumb.html' %}-->
                    <div class="chit-chat-layer1">

                      

                        <div class="col-md-12 col-sm-12 col-lg-12 chit-chat-layer1-left">
                            <div class="work-progres">
                                <div class="chit-chat-heading">
                                     

                                   
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-inverse table-head-bg">
                                           
                                        </thead>
                                   
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <!--main page chit chating end here-->
                    <!--climate end here-->
                </div>
                <!--inner block end here-->
                <!--copy rights start here-->
                {% include 'admin/lib/footer.html' %}
                <!--COPY rights end here-->
            </div>
        </div>
        <!--slider menu-->
        {% include 'admin/lib/company_sidebar.html' %}
    </div>
    <!--latest user add-->
    <!--latest resturent add-->
   

    <input type="hidden" id="dashboard" value="{{ base_url }}admin/user/dashboard_list">
    <!--latest resturent add-->
    
 
  
    <script src="{{base_url}}assets/js/jquery.nicescroll.js"></script>
    <script src="{{base_url}}assets/js/scripts.js"></script>
    <!--//scrolling js-->
    <script src="{{base_url}}assets/js/bootstrap.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
    <!-- mother grid end here-->

   
</body>

</html>