{% include 'admin/lib/header.html' %}
<script src="{{base_url}}assets/js/jquery.min.js"></script>
<script src="{{base_url}}assets/js/jquery.qrcode.min.js"></script>
<body>
    <div class="page-container">
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                {% include 'admin/lib/country_nav.html' %}
                <!--inner block start here-->
                <div class="inner-block">
                    <!--mainpage chit-chating-->
                    <div class="chit-chat-layer1">
                        <div class="col-md-12 col-sm-12 col-lg-12 chit-chat-layer1-left">
                            <div class="work-progres">
                                <div class="chit-chat-heading">
                                    {{ constant('MANAGE')}} {{ constant('COMPANY')}}
                                    <a href="#" data-toggle="modal" data-target="#myModal" class="hvr-icon-float-away add-latest-user"></a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-inverse table-head-bg">
                                            <tr>
                                                <th>{{ constant('COMPANY')}}</th>
                                                <th></th>
                                                <th style="text-align:center;">{{ constant('ACTION')}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if results %}
                                            {% for key, company in results %} 
                                            <tr>
                                                <td class="col-md-6 col-sm-6 col-lg-4 col-xs-12">
                                                       <div class="text-left-r ref-id">
                                                         00{{ company.company_id|e }}
                                                    </div>
                                                    <div class="text-left-r">
                                                        <div class="text-rest-name">{{ company.company_language_name|e }}</div>
                                                        <div class="text-rest-email">{{ company.company_email|e }}</div>
                                                        <div class="text-rest-phone">{{ company.company_phone|e }}</div>
                                                        {% for languages in language %}

                                                        <a href="#" class="modal-edit text-rest-icon" data-cid="{{ company.company_id|e }}" data-href="{{ base_url }}admin/company/update/{{ company.company_id|e }}" data-language_code="{{ languages.language_code }}" data-toggle="modal" data-target="#myModal-edit" style='{% if languages.language_code == session.lang_code %}color:green;{% else %}color:red{% endif %}'>{{ languages.language_code }}</a> 

                                                        {% endfor %} &nbsp;&nbsp;&nbsp;
                                                        <a href="#" onclick="confirmDeleteModal('{{ company.company_id|e }}')" class="text-rest-icon"><i class="fa fa-trash-o"></i></a>
                                                        <div class="status {{ company.company_id|e }}">
                                                            {% if company.company_status == 1 %}
                                                            <div class="active-button" onclick="statusFunction({{ company.company_id|e }}, 0)">Active</div>
                                                            {% else %}
                                                            <div class="inactive-button" onclick="statusFunction({{ company.company_id|e }}, 1)">Inactive</div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </td>                         
                                                <td style="width:100%;">
                                                    {%  if company.plan_name %}
                                                    <div class="set_div" style="width:100%;"><b>Plan Name : {{ company.plan_name|e }}</b> </div>
                                                    <div class="set_div" style="width:100%;"><b>Price :</b>{{ company.plan_price|e }} </div>
                                                    <div class="set_div" style="width:100%;"><b>No. of days :</b> {{ company.no_of_days|e }} </div>                                                    
                                                    {% endif %}
                                                </td>                         
                                                <td class="col-md-6 col-sm-6 col-lg-8 col-xs-12" style="text-align:center;">
                                                    <div class="col-md-12 main-btnleft-r">                                          
                                                        <div class="btn-left-r">
                                                            <a class="btn btn-primary dropdown-toggle font-r" href="{{ base_url }}admin/companydashboard/index/{{ company.company_id|e }}">{{constant('ACCESS')}}</a>                                   
                                                        </div>                           
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}                          
                                            <tr>
                                                <td class="record" colspan="7" >
                                                    {{ constant('NO RECORD FOUND')}} 
                                                </td>
                                            </tr>
                                            {% endif %} 
                                        </tbody>
                                    </table>
                                    <nav class="my-4 pagenation-border">
                                        {{ links|raw  }}
                                        <div class="total-records">
                                            <div>{% if results %}
                                                {{start}}-{{end}} {{ constant('RECORD')}}
                                                {% else %}
                                                0 {{ constant('RECORD')}}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </nav>
                                    <!--/Pagination -->
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--main page chit chating end here-->
                    <!--climate end here-->
                </div>
                <!--inner block end here-->
                <!--copy rights start here-->
                {% include 'admin/lib/footer.html' %}
                <!--COPY rights end here-->
            </div>
        </div>
        <!--slider menu-->
        {% include 'admin/lib/sidebar.html' %}
    </div>
    <!--slide bar menu end here-->
    <!--Add customer -->
    <!--view customer -->
    <!--latest customer add-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{constant('ADD')}} {{constant('COMPANY')}}</h4>
                </div>
                <div class="col-md-12">
                    <div class="card form-white" style="box-shadow: none;">
                        <div class="card" style="box-shadow:none">
                            <div class="card-body">
                                <!-- Form contact -->
                                <form name="company_registration" method="POST" action="{{ base_url }}admin/company/add/" >
                                    <div class="col-md-12 md-form" style="padding:0px;">
                                        <div class="col-md-6 md-form" style="padding:0px;">   
                                            <i class="fa fa-user prefix grey-text"></i>
                                            <label for="company_name">{{ constant('NAME')}}<span class="required">*</span></label>                               
                                            <input type="text" id="company_name" maxlength="50" placeholder="{{ constant('ENTER') }} {{ constant('COMPANY')}} {{ constant('NAME')}}" name="company_name" class="form-control">
                                        </div>
                                        <div class="col-md-6 md-form" style="padding:0px;">   
                                            <i class="fa fa-industry prefix grey-text"></i>
                                            <label for="company_code">{{ constant('COMPANY')}} {{ constant('CODE')}}<span class="required">*</span></label>                                 
                                            <input type="text" id="company_code" maxlength="20" placeholder="{{ constant('ENTER') }} {{ constant('COMPANY')}} {{ constant('CODE')}}" name="company_code" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 md-form" style="padding:0px;">
                                        <div class="col-md-6 md-form" style="padding:0px;">   
                                            <i class="fa fa-envelope prefix grey-text"></i>
                                            <label for="company_email">{{ constant('EMAIL')}}<span class="required">*</span></label>
                                            <input type="email" id="company_email" maxlength="60" placeholder="{{ constant('ENTER') }} {{ constant('EMAIL')}}" name="company_email" class="form-control">   
                                        </div>
                                        <div class="col-md-6 md-form" style="padding:0px;">   
                                            <i class="fa fa-registered prefix grey-text"></i>
                                            <label for="company_cr_no">{{ constant('CRNUMBER')}}</label>
                                            <input type="text" id="company_cr_no"  placeholder="{{ constant('ENTER') }} {{ constant('CRNUMBER')}}" name="company_cr_no" class="form-control">   
                                        </div>
                                    </div>
                                    <div class="col-md-12 md-form" style="padding:0px;">
                                      
                                        <div class="col-md-6 md-form" style="padding:0px;">   
                                            <i class="fa fa-lock prefix grey-text"></i><label for="password">{{ constant('PASSWORD')}}<span class="required">*</span></label>

                                            <input type="password" id="company_password" placeholder="{{ constant('ENTER') }} {{ constant('PASSWORD')}}"  name="company_password" class="form-control">
                                        </div>
                                        
                                        <div class="col-md-6 md-form" style="padding:0px;">   
                                            <i class="fa fa-globe prefix grey-text"></i>
                                            <label for="company_country">{{ constant('COUNTRY')}}</span></label>
                                            <select id="company_country" name="company_country" class="selectpicker form-control-select">
                                                {% for key,country in related_country %}
                                                {% if country.country_status == 1 %}
                                               {%if ( session.selected_country == country.country_code) or ( session.userdata.user_default_country  == country.country_code ) %}
                                                <option selected value="{{ country.country_code|e}}">{{ country.country_language_country_name|e }}</option>
                                                {% endif %} 
                                                {% endif %}
                                                {% endfor %} 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 md-form" style="padding:0px;">
                                        <div class="col-md-6 md-form" style="padding:0px;">   
                                            <i class="fa fa-phone prefix grey-text"></i>
                                            <label for="company_phone">{{ constant('PHONENO')}}<span class="required">*</span></label>                                          
                                            <input type="tel" id="company_phone" maxlength="12" min="0" placeholder="{{ constant('ENTER') }} {{ constant('PHONENO')}}" name="company_phone"  class="form-control">
                                        </div>
                                        <div class="col-md-6 md-form">
                                            <i class="fa fa-shield prefix grey-text"></i>
                                            <label for="company_vat_no">{{ constant('VAT NUM')}}</label>                                      
                                            <input type="text" id="company_vat_no" placeholder="{{ constant('ENTER') }} {{ constant('VAT NUM')}}" maxlength="12" name="company_vat_no"  class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 md-form" style="padding:0px;">                                    
                                        <i class="fa fa-address-card prefix grey-text"></i>
                                        <label for="company_address">{{ constant('ADDRESS')}}</label>
                                        <textarea type="text" id="company_address" maxlength="500" placeholder="{{ constant('ENTER') }} {{ constant('ADDRESS')}}" name="company_address" class="md-textarea" style="height:auto;"></textarea>
                                    </div>



                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success">NEXT ></button>
                                    </div>
                                </form>
                                <!-- Form contact -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>

    <!--latest customer add-->
    <div class="modal fade" id="myModal-edit" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{constant('EDIT')}} {{constant('COMPANY')}}</h4>
                </div>
                <div class="col-md-12">
                    <div class="card form-white" style="box-shadow: none;">
                        <div class="card" style="box-shadow:none">
                            <div class="card-body">
                                <!-- Form contact -->
                                <form name="edit_company" method="POST" action="" id="edit_company">
                                    <input type="hidden" name="language_code" value="" class="edit_language_code">
                                    <div class="col-md-12 md-form" style="padding:0px;">
                                        <div class="col-md-6 md-form" style="padding:0px;">   
                                            <i class="fa fa-user prefix grey-text"></i>
                                            <label for="company_name">{{ constant('NAME')}}<span class="required">*</span></label>                               
                                            <input type="text" id="company_name1" name="company_name" maxlength="50" placeholder="{{ constant('ENTER') }} {{ constant('COMPANY')}} {{ constant('NAME')}}" class="form-control">
                                        </div>
                                        <div class="col-md-6 md-form">   
                                            <i class="fa fa-industry prefix grey-text"></i>
                                            <label for="company_code">{{ constant('COMPANY')}} {{ constant('CODE')}}<span class="required">*</span></label>                                 
                                            <input type="text" id="company_code1" name="company_code" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 md-form" style="padding:0px;">
                                        <div class="col-md-6 md-form" style="padding:0px;"> 
                                            <i class="fa fa-envelope prefix grey-text"></i>
                                            <label for="company_email">{{ constant('EMAIL')}}<span class="required">*</span></label>
                                            <input type="email" id="company_email1" readonly maxlength="60" placeholder="{{ constant('ENTER') }} {{ constant('EMAIL')}}" name="company_email" class="form-control">   
                                        </div>
                                        <div class="col-md-6 md-form" style="padding:0px;"> 
                                            <i class="fa fa-registered prefix grey-text"></i>
                                            <label for="company_cr_no">{{ constant('CRNUMBER')}}</label>
                                            <input type="text" id="company_cr_no1"  placeholder="{{ constant('ENTER') }} {{ constant('CRNUMBER')}}" name="company_cr_no" class="form-control">  
                                        </div>
                                    </div>
                                    <div class="col-md-12 md-form" style="padding:0px;">
                                        <div class="col-md-6 md-form" style="padding:0px;">   
                                            <i class="fa fa-phone prefix grey-text"></i>
                                            <label for="company_phone">{{ constant('PHONENO')}}<span class="required">*</span></label>                                          
                                            <input type="tel" id="company_phone1" maxlength="12" placeholder="{{ constant('ENTER') }} {{ constant('PHONENO')}}" name="company_phone" class="form-control">
                                        </div>
                                        <div class="col-md-6 md-form">
                                            <i class="fa fa-shield prefix grey-text"></i>
                                            <label for="company_vat_no">{{ constant('VAT NUM')}}</label>                                         
                                            <input type="text" name="company_vat_no" id="company_vat_no1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 md-form" style="padding:0px;">                                    
                                        <i class="fa fa-address-card prefix grey-text"></i>
                                        <label for="company_address">{{ constant('ADDRESS')}}</label>
                                        <textarea type="text" id="company_address1" maxlength="500" placeholder="{{ constant('ENTER') }} {{ constant('ADDRESS')}}" name="company_address" class="md-textarea" style="height:auto;"></textarea>
                                    </div>
                                    <div class="col-md-12 md-form" style="padding:0px;">                                     
                                        <i class="fa fa-globe prefix grey-text"></i>
                                        <label for="company_country">{{ constant('COUNTRY')}}<span class="required">*</span></label>
                                        <select id="company_country1" name="company_country" class="selectpicker form-control-select">


                                            {% for key,country in related_country %}
                                            {% if country.country_status == 1 %}
                                          {%if ( session.selected_country == country.country_code) or ( session.userdata.user_default_country  == country.country_code ) %}
                                            <option selected value="{{ country.country_code|e}}">{{ country.country_language_country_name|e }}</option>

                                            {% endif %} 

                                            {% endif %}
                                            {% endfor %} 
                                        </select>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success">{{ constant('SUBMIT')}}</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ constant('CANCEL')}}</button>
                                    </div>
                                </form>
                                <!-- Form contact -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>
    <div id="deleteModal" class="modal fade" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">{{constant('DELETE')}} </h4>
                </div>
                <div class="delete_massage"></div>
                <div class="modal-body">
                    <p>{{constant('SURE DELETE')}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
                    <span id= 'deleteButton'></span>
                </div>
            </div>
        </div>
    </div>
    <script>
        var toggle = true;
        $(".sidebar-icon").click(function() {
        if (toggle)
        {
        $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
        $("#menu span").css({"position":"absolute"});
        }
        else
        {
        $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
        setTimeout(function() {
        $("#menu span").css({"position":"relative"});
        }, 400);
        }
        toggle = !toggle;
        });
    </script>
    <!--scrolling js-->
    <script src="{{base_url}}/assets/js/jquery.validate.min.js"></script>
    <script src="{{base_url}}assets/js/jquery.nicescroll.js"></script>
    <script src="{{base_url}}assets/js/scripts.js"></script>
    <!--//scrolling js-->
    <script src="{{base_url}}assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
    <!-- mother grid end here-->
    <script type="text/javascript">
        $(document).ready(function(){
        $('.add-latest-user').click(function(e){
        e.preventDefault();
        $('label.error').css('display', 'none');
        $('.form-control').removeClass('error');
        $('textarea').removeClass('error');
        $('select').removeClass('error');
        $('form[name="company_registration"]')[0].reset();
        });
        });
        function statusFunction(id, value){
        var urlData = '{{ base_url }}admin/company/updateStatus/' + id + '/' + value;
        $.ajax(
        {
        url : urlData,
                type: "POST",
                crossDomain: true,
                success:function(response)
                {
                var data = $.parseJSON(response);
                $.each(data.cur_status, function(key, value) {
                if (value.company_status == 1){
                $('div.status.' + value.company_id).html("<div class='active-button' onclick='statusFunction(" + value.company_id + ",0)'>Active</div>");
                } else{
                $('div.status.' + value.company_id).html("<div class='inactive-button' onclick='statusFunction(" + value.company_id + ",1)'>Inactive</div>");
                }
                });
                }
        });
        }

        // Wait for the DOM to be ready
        $(function() {
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[name='company_registration']").validate({
        // Specify validation rules
        rules: {
        // The key name on the left side is the name attribute
        // of an input field. Validation rules are defined
        // on the right side
        company_name: "required",
                company_phone: {
                required: true,
                        number: true
                },
                // company_address: "required",
                company_email: {
                required: true,
                        email: true
                },
                company_code:"required",
                // company_vat_no: "required",
                //company_cr_no: "required",
                company_password: "required",
                company_country: "required"
        },
                // Specify validation error messages
                messages: {
                company_name: "Please enter company name",
                        company_phone: {
                        required: "Please enter phone number",
                                number: "It must be numeric",
                        },
                        // company_address: "Please enter company address",
                        company_email: {
                        required: "Please enter company email",
                                email: "Please enter a valid email",
                        },
                        company_code:"Please enter company code",
                        company_password: "Please enter Password",
                        // company_vat_no: "Please enter VAT Number",
                        // company_cr_no: {
                        //                 required: "Please enter CR number",
                        //                 number: "It must be numeric",
                        //                 },
                        company_country: "Please select country"
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function(form) {
                var urlData = $(form).attr('action');
                var formData = $(form).serialize();
                $.ajax(
                {
                url : urlData,
                        type: "POST",
                        crossDomain: true,
                        data : formData,
                        success:function(data)
                        {
                        var data = $.parseJSON(data);
                        if (data.error == 'true'){
                        if (data.msg == 'false'){
                        $.each(data.error_msg, function(index, value) {
                        $('#' + index).after('<label id="' + index + '-error" class="error" for="customer_name">' + value + '</label>');
                        });
                        } else{
                        window.location.href = '{{ base_url }}admin/company/fetch_plan_details/' + data.last_inserted_company_id;
                        }
                        } else if (data.error == 'permission') {
                        $('form[name="company_registration"]').before('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                        } else{
                        window.location.href = '{{ base_url }}admin/company/fetch_plan_details/' + data.last_inserted_company_id;
                        }
                        }
                });
                }
        });
        });
    </script>
    <script type="text/javascript">
        // Wait for the DOM to be ready
        $(function() {
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[name='edit_company']").validate({
        // Specify validation rules
        rules: {
        // The key name on the left side is the name attribute
        // of an input field. Validation rules are defined
        // on the right side
        company_name: "required",
                company_phone: {
                required: true,
                        number: true
                },
                // company_address: "required",
                company_country: "required"
        },
                // Specify validation error messages
                messages: {
                company_name: "Please enter company name",
                        company_phone: {
                        required: "Please enter phone number",
                                number: "It must be numeric"
                        },
                        // company_address: "Please enter company address",
                        company_country: "Please select country"
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function(form) {
                var formData = $(form).serialize();
                var urlData = $(form).attr('action');
                $.ajax(
                {
                url : urlData,
                        type: "POST",
                        crossDomain: true,
                        data : formData,
                        success:function(data)
                        {
                        var data = $.parseJSON(data);
                        if (data.error == 'true'){
                        $.each(data.error_msg, function(index, value) {
                        $('#' + index + '1').after('<label id="' + index + '-error" class="error" for="' + index + '">' + value + '</label>');
                        });
                        } else if (data.error == 'permission') {
                        $('form[name="edit_company"]').before('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                        } else{
                        $('form[name="edit_company"]')[0].reset();
                        $('form[name="edit_company"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                        if ($('.alert').delay(10000).fadeOut(100)){
                        window.location.reload();
                        }
                        }
                        }
                });
                }
        });
        });
    </script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript">
        function confirmDeleteModal(id){
        $('#deleteModal').modal();
        $('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData(' + id + ')">{{constant("DELETE")}}</a>');
        }
        function deleteData(id){
        // do your stuffs with id
        $("#successMessage").html("Record With id " + id + " Deleted successfully!");
        var urlData = '{{ base_url }}admin/company/delete/' + id;
        $.ajax(
        {
        url : urlData,
                type: "POST",
                success:function(data)
                {
                var data = $.parseJSON(data);
                if (data.error == 'false') {
                $('#deleteModal').modal('hide'); // now close modal
                window.location.reload();
                } else {

                $('.delete_massage').html('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                }
                }
        });
        }

    </script>
    <script language="javascript">
        $(".modal-edit").click(function(e) {
        e.preventDefault();
        var language_code = $(this).data('language_code');
        $('.edit_language_code').val(language_code);
        $('label.error').css('display', 'none');
        $('.form-control').removeClass('error');
        $('textarea').removeClass('error');
        $('form[name="edit_company"]')[0].reset();
        $('#edit_company').attr('action', $(this).data('href'));
        var cid = $(this).data('cid');
        var urlData = "{{ base_url }}admin/company/view/" + cid + "/" + language_code;
        $.ajax(
        {
        url : urlData,
                type: "POST",
                crossDomain: true,
                success:function(data)
                {
                var data = $.parseJSON(data);
                $.each(data.view_result, function(index, value) {
                $('#company_name1').val(value.company_language_name);
                $('#company_email1').val(value.company_email);
                $('#company_phone1').val(value.company_phone);
                $('#company_address1').val(value.company_language_address);
                $('#company_code1').val(value.company_code);
                $('#company_vat_no1').val(value.company_vat_no);
                $('#company_cr_no1').val(value.company_cr_no);
                $('#company_country1').find('option[value="' + value.company_country + '"]').prop("selected", true);
                });
                }
        });
        });
    </script>
    {% if all_countries %}
    <div class="modal fade" id="countryPopup" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <h4 class="modal-title"> {{ constant('COUNTRY')}}  </h4>
                </div>
                <div class="col-md-12">
                    <div class="card form-white" style="box-shadow: none;">
                        <div class="card" style="box-shadow:none">
                            <div class="card-body">
                                <!-- Form contact -->
                                <form name="country_box" action="{{ base_url }}admin/company/change_country_popup" method="post">                                    
                                    <div class="col-md-12 md-form">
                                        <i class="fa fa-globe prefix grey-text"></i>
                                        <label for="countries">{{ constant('COUNTRY')}}<span class="required">*</span></label>
                                        <select id="countries" name="countries" class="selectpicker form-control-select">
                                            <option value="">{{constant('PLEASE SELECT')}}</option>                                               
                                            {% for key,country in all_countries %} 
                                            {% if country.country_status == 1 %}
                                            <option value="{{ country.country_code|e}}">{{ country.country_language_country_name|e }}</option>
                                            {% endif %} 
                                            {% endfor %}                                               
                                        </select>
                                       

                        <input type="checkbox" name="user_default_country" id="user_default_country"> Set As Default
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success">{{ constant('SUBMIT')}}</button>                                        
                                    </div>
                                </form>
                                <!-- Form contact -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <script type="text/javascript">
        $('#countryPopup').modal({backdrop: 'static', keyboard: false});
        $(window).on('load', function(){

      if('{{session.selected_country}}' || ('{{session.userdata.user_default_country}}')){
        $('#countryPopup').modal('hide');
        } else{
        $('#countryPopup').modal('show');
        }

        });
        $(function() {
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[name='country_box']").validate({
        // Specify validation rules
        rules: {
        countries: "required"
        },
                // Specify validation error messages
                messages: {
                countries: "Please Select Country"
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                /*submitHandler: function(form) {
                 var countryval = $('#countries').val();
                 var urlData = $(form).attr('action');
                 $.ajax(
                 {
                 url : urlData,
                 type: "POST",
                 crossDomain: true,
                 data : {country_sel:countryval},
                 success:function(data) 
                 { 
                 var data = $.parseJSON(data);
                 if(data.error == 'true'){ alert(data);
                 if(data.msg=='false'){
                 $.each(data.error_msg, function( index, value ) {
                 $('#'+index).after('<label id="'+index+'-error" class="error" for="user_name">'+value+'</label>');
                 });
                 }else{
                 $('form[name="country_box"]')[0].reset();
                 $('form[name="country_box"]').before('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>') ;
                 $('.alert').delay(10000).fadeOut(100);
                 check_data();
                 }
                 }else{ alert(1);
                 $('form[name="country_box"]')[0].reset();
                 window.location.href = "{{base_url}}resturant/company/brand";
                 }
                 }
                 });
                 }*/
        });
        });
// Wait for the DOM to be ready
    </script>

    <style type="text/css">
        canvas{
            width: 100px;
            height: 100px;
        }
    </style>
</body>
</html>
