{% include 'admin/lib/header.html' %}
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
			{% include 'admin/lib/nav.html' %}
					
			
<!--inner block start here-->
<div class="inner-block">
<!--mainpage chit-chating-->
<div class="chit-chat-layer1">
	<div class="col-md-12 col-sm-12 col-lg-12 chit-chat-layer1-left">
               <div class="work-progres">
                            <div class="chit-chat-heading">
								{{ constant('DEPT')}}
								  <a href="#" data-toggle="modal" data-target="#myModal" class="hvr-icon-float-away add-latest-user"></a>
							</div>
							

                            <div class="table-responsive">
                                <table class="table">
									<thead class="thead-inverse table-head-bg">
									<tr>
										<th>{{ constant('NAME')}}</th>
										<th>{{ constant('CREATED')}}</th>
										<th>{{ constant('STATUS')}}</th>
										<th>{{constant('ACTION')}}</th>
									</tr>
									</thead>
									<tbody id="depart_details">
										{% if results %}
									{% for key, department in results %} 
										<tr>									
    									<td>{{ department.department_name|e }}</td>
										<td>{{ department.department_created|e }}</td>
										
										<td class="status {{ department.department_id|e }}">
											{% if department.department_status == 1 %}
												<div class="active-button" onclick="statusFunction({{ department.department_id|e }},0)">Active</div>
											{% else %}
												<div class="inactive-button" onclick="statusFunction({{ department.department_id|e }},1)">Inactive</div>
											{% endif %}
										</td>
										<td>
										<div class="market-update-right">
                                            <span>
											{% for languages in language %}
                                                        <a href="#" class="modal-edit text-rest-icon" data-rid="{{ department.department_id|e }}" data-id="{{ base_url }}admin/department/edit/{{ department.department_id|e }}" data-language_code="{{ languages.language_code }}" data-toggle="modal" data-target="#myModal-edit" style='{% if languages.language_code == session.lang_code %}color:green;{% else %}color:red{% endif %}'>{{ languages.language_code }}</a> 
														{% endfor %} &nbsp;&nbsp;&nbsp;


                                            <!--	<a href="#" data-toggle="modal" data-id="{{ base_url }}admin/department/edit/{{ department.department_id|e }}" data-name="{{ department.department_name|e }}" data-target="#myModal-edit" class="modal-edit"><i class="fa fa-edit"></i></a>--></span>
                                            <span><a href="#" onclick="confirmDeleteModal('{{ department.department_id|e }}')"><i class="fa fa-trash"></i></a></span>
                                        </div>
										</td>
										</tr>
									{% endfor %}
									{% else %}									
									<tr>									
									<td class="record" colspan="4" >
									{{ constant('NO RECORD FOUND')}} </td>								
									</tr>							
									{% endif %}
										
									</tbody>
                                </table>
                                            <!--Pagination -->
            <nav class="my-4 pagenation-border">
              
                <div class="total-records">
                    <div>{% if results %}
							{{start}}-{{end}} {{ constant('RECORD')}}
							{% else %}
							
							0 {{ constant('RECORD')}}
							{% endif %}</div>
                </div>
            </nav>
            <!--/Pagination -->
                  </div>
             </div>
      </div>

     <div class="clearfix"> </div>
</div>
<!--main page chit chating end here-->

<!--climate end here-->
</div>
<!--inner block end here-->
<!--copy rights start here-->
	{% include 'admin/lib/footer.html' %}	
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    	{% include 'admin/lib/sidebar.html' %}
</div>
<!--slide bar menu end here-->

<!--Add department add-->

<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{constant('ADD')}} {{constant('DEPT')}}</h4>
			</div>
			<div class="col-md-12">
					<div class="card form-white" style="box-shadow: none;">
							<div class="card" style="box-shadow:none">
									<div class="card-body">
										<!-- Form contact -->
										<form action="{{ base_url }}admin/department/add" method="POST" name="depart_form">
											
											<div class="col-md-12 md-form">
												<i class="fa fa-user prefix grey-text"></i><label for="department_name">{{ constant('DEPT')}} {{constant('NAME')}}</label>
												<input type="text" id="department_name" placeholder="{{ constant('ENTER')}} {{ constant('DEPT')}} {{ constant('NAME')}}" maxlength="50" name="department_name" class="form-control">
												
											</div>
											
											<div class="col-md-12 text-center">
												<button class="btn btn-success">{{constant('SUBMIT')}}</button>
												<button class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
											</div>
										</form>
										<!-- Form contact -->
									</div>
								</div>
						</div>
			</div>
			
				
				</form>
			<div class="modal-footer">
			  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		  </div>
		  
		</div>
	  </div>

<!--Add department add-->

<!--edit department add-->

<div class="modal fade" id="myModal-edit" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{constant('EDIT')}} {{constant('DEPT')}}</h4>
			</div>
			<div class="col-md-12">
					<div class="card form-white" style="box-shadow: none;">
							<div class="card" style="box-shadow:none">
									<div class="card-body">
										<!-- Form contact -->
										<form action="" id="edit_dept_form" name="edit_dept_form" method="POST">
											<input type="hidden" name="language_code" value="" class="edit_language_code">
											<div class="col-md-12 md-form">
												<i class="fa fa-user prefix grey-text"></i><label for="department_name">{{ constant('DEPT')}} {{constant('NAME')}}</label>
												<input type="text" id="department_language_department_name2" placeholder="{{ constant('ENTER')}} {{ constant('DEPT')}} {{ constant('NAME')}}" maxlength="50" name="department_name" class="form-control" placeholder="Test Department">
												
											</div>
											
											<div class="col-md-12 text-center">
												<button class="btn btn-success">{{constant('SUBMIT')}}</button>
												<button  class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
											</div>
										</form>
										<!-- Form contact -->
									</div>
								</div>
						</div>
			</div>
			
				
				</form>
			<div class="modal-footer">
			  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
			</div>
		  </div>
		  
		</div>
	  </div>


<div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{constant('DELETE')}} </h4>
            </div>
            <div class="delete_massage"></div>
            <div class="modal-body">
                <p>{{ constant('SURE DELETE') }}</p>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{constant('CANCEL')}}</button>
				<span id= 'deleteButton'></span>
            </div>
			
        </div>
      </div>
  </div>




<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="{{base_url}}assets/js/jquery.nicescroll.js"></script>
		<script src="{{base_url}}assets/js/scripts.js"></script>
		<!--//scrolling js-->
<script src="{{base_url}}assets/js/bootstrap.js"> </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

<script type="text/javascript">

function statusFunction(id,value){
		var urlData='{{ base_url }}admin/department/updateStatus/'+id+'/'+value;
		$.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
			    success:function(response) 
				{
					var data = $.parseJSON(response);	
					$.each(data.cur_status, function( key, value ) {						
						if(value.department_status == 1){															
							$('td.status.'+value.department_id).html("<div class='active-button' onclick='statusFunction("+value.department_id+",0)'>Active</div>");							
						}else{
							$('td.status.'+value.department_id).html("<div class='inactive-button' onclick='statusFunction("+value.department_id+",1)'>Inactive</div>");							
						}
					});				
				}
			});
	}
	
// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='depart_form']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
		department_name: "required",
		
    },
    // Specify validation error messages
    messages: {
      department_name: "Please enter Department Name",  
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
	     var formData = $(form).serialize();
		 var urlData = $(form).attr('action');
		 $.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
				data : formData,
				success:function(data) 
				{
				  var data = $.parseJSON(data);
					if(data.error == 'true'){
					   $.each(data.error_msg, function( index, value ) {
						$('#'+index).after('<label id="'+index+'-error" class="error" for="user_name">'+value+'</label>');
                       });
					   
					}
                  else if (data.error == 'permission') {
                     $('form[name="depart_form"]').before('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                            }
					else{
					$('form[name="depart_form"]')[0].reset();
					$('form[name="depart_form"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>');
					if($('.alert').delay(10000).fadeOut(100)){
					window.location.reload();
					}
				    
            		}
				}
			});
    }
  });
});


</script>

 <script language="javascript">
      $(".modal-edit").click(function(e) {  
	  e.preventDefault();
	  
            var language_code = $(this).data('language_code');
            $('.edit_language_code').val(language_code);
            $('#edit_dept_form').attr('action', $(this).data('id'));
            var depart_id = $(this).data('rid');
           

            var urlData = '{{ base_url }}admin/department/edit_view/' + depart_id + '/' + language_code;

            $.ajax(

                {

                    url: urlData,

                    type: "POST",

                    crossDomain: true,

                    success: function(data)

                    {

                    	var data = $.parseJSON(data);

                        $.each(data.edit_view, function(key, value) {

                            $('#department_language_department_name2').val(value.department_language_department_name);
                        });
                      

                    }

                });


			
        });
    </script>

	<script type="text/javascript">

	// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='edit_dept_form']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
		department_name: "required",
		
    },
    // Specify validation error messages
    messages: {
      department_name: "Please enter Department Name",
  
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
	     var formData = $(form).serialize();
		 var urlData = $(form).attr('action');
		 $.ajax(
			{
				url : urlData,
				type: "POST",
				crossDomain: true,
				data : formData,
				success:function(data) 
				{
				  var data = $.parseJSON(data);
					if(data.error == 'true'){
					   $.each(data.error_msg, function( index, value ) {
						$('#'+index).after('<label id="'+index+'-error" class="error" for="user_name">'+value+'</label>');
                       });
					   
					}
					else if (data.error == 'permission') {
                     $('form[name="depart_form"]').before('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                            }
                     else{
					$('form[name="depart_form"]')[0].reset();
					$('form[name="depart_form"]').before('<div class="alert alert-success alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>'+data.success_message+'</div>');
					if($('.alert').delay(10000).fadeOut(100)){
					window.location.reload();
					}
				    
            		}
				}
			});
    }
  });
});


</script>

<script type="text/javascript">

function confirmDeleteModal(id){
    $('#deleteModal').modal();
	$('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData('+id+')">{{constant("DELETE")}}</a>');
}     
function deleteData(id){
  // do your stuffs with id
  $("#successMessage").html("Record With id "+id+" Deleted successfully!");
  var urlData='{{ base_url }}admin/department/delete/'+id;
   $.ajax(
			{
				url : urlData,
				type: "POST",
			    success:function(data) 
				{
					 var data = $.parseJSON(data);
				if (data.error == 'false') {
                        $('#deleteModal').modal('hide'); // now close modal
                        window.location.reload();
                    } else {

                        $('.delete_massage').html('<div class="alert alert-danger alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>' + data.success_message + '</div>');
                    }
				}
			});
			
  
}  

</script>
</body>
</html>                     