{% include 'admin/lib/header.html' %}
<body>

	<!-- Main navbar -->
	{% include 'admin/lib/nav.html' %}
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			{% include 'admin/lib/sidebar.html' %}
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">


				<!--  Page content -->
		{% if (action == 'add' or action == 'edit')   %}		
				<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">{{ constant('LANGUAGE')}} </h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>

						<div class="panel-body">
							
							<form class="form-horizontal" enctype= "multipart/form-data" action="{{ base_url }}admin/language/{{action}}/{{language_id}}" method="post">
								<fieldset class="content-group">
									<input type="hidden" name="language_id" class="form-control" value="{{language_id}}" placeholder="">
									<div class="form-group">
										<label class="control-label col-lg-2">{{ constant('NAME')}} <span class="error_msg"  >*</span></label>
										<div class="col-lg-10">
											<input type="text" name="language_name" value="{{set_data.language_name}}"class="form-control" placeholder="{{constant('ENTER YOUR') }}  {{constant('NAME') }}" dir="auto">
											<div class="error_msg">{{ error_msg.language_name|e }}</div>
										</div>
										
									</div>
									<div class="form-group">
										<label class="control-label col-lg-2">{{ constant('CODE')}} <span class="error_msg"  >*</span></label>
										<div class="col-lg-10">
											<input type="text" name="language_code" value="{{set_data.language_code}}"class="form-control" placeholder="{{constant('ENTER YOUR') }}  {{constant('CODE') }}" dir="auto">
											<div class="error_msg">{{ error_msg.language_code|e }}</div>
										</div>
										
									</div>
										{% if (action == 'add')   %}		
										<div class="form-group">
										<label class="control-label col-lg-2">{{ constant('FLAG')}}  <span class="error_msg"  >*</span></label>
										<div class="col-lg-10">
											<input type="file" name="language_flag" class="" >
											<div class="error_msg">{{ error_msg.language_flag|e }}</div>
										</div>
										
									</div>
									{% endif %}
									<div class="text-right">
									<a href="{{ base_url }}admin/category/" type="button" class="btn btn-warning">{{ constant('BACK')}} </a>
									<button type="submit" class="btn btn-primary" name="submit">{{ constant('SUBMIT')}}  <i class="icon-arrow-right14 position-right"></i></button>
								</div>
									
							</form>
						</div>
					</div>
					
				{% else %}	
     			<!---- Data Table start ----->	
				
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">{{ constant('LANGUAGE')}} <a href="{{ base_url}}admin/language/add" class="btn btn-primary btn-icon" ><i class="icon-plus2"></i></a> </h5>
							
							<p class="message">{{ success_massage }}<p>
							<div class="text-right">{% if results %}
							{{start}}-{{end}} {{ constant('RECORD')}}
							{% else %}
							
							0 {{ constant('RECORD')}}
							{% endif %}</div>
						</div>
             		    <div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>{{ constant('NAME')}}</th>
										<th>{{ constant('CODE')}}</th>
										<th>{{ constant('FLAG')}}</th>
										<th>{{ constant('CREATED')}}</th>
										<th>{{ constant('STATUS')}}</th>
										<th class="text-center"><i class="icon-menu-open2"></i></th>
									</tr>
								</thead>
								<tbody>
								{% if results %}
									{% for key, language in results %} 
										<tr>									
    									<td>{{ language.language_name|e }}</td>
										<td>{{ language.language_code|e }}</td>
										<td><img width="50" src="{{ base_url }}upload/lang_flags/{{ language.language_flag|e }}"></td>
										<td>{{ language.language_created|e }}</td>
										
										<td><span class="label label-success">
										{% if language.language_status == 1 %}
										<p>Active</p>
									     {% else %}
										<p>Inactive</p>
									    {% endif %}</span>
										</td>
										<td>
										<a href="{{ base_url }}admin/language/edit/{{ language.language_id|e }}" type="button" class="btn border-warning text-warning-600 btn-flat btn-icon btn-rounded"><i class=" icon-pencil5"></i></a>
											
										<!--	<a href="{{ base_url }}admin/language/delete/{{ language.language_id|e }}" class="btn border-warning text-warning-600 btn-flat btn-icon delete-user-row-with-data-type" ><i class="icon-cancel-square2"></i></a>--></td>
										</tr>
									{% endfor %}
										{% else %}									
							<tr>									
							<td class="record" colspan="4" >
							{{ constant('NO RECORD FOUND')}} </td>								
							</tr>							
							{% endif %}
										
								</tbody>
							</table>
							{{ links|raw  }}
						</div>
					</div>
					<!-- /basic responsive table -->
{% endif %}
					
					
					
					
					
					<!-- /// Page content -->
					

				{% include 'admin/lib/footer.html' %}
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{{ base_url }}assets/js/core/bootstrap-confirm-delete.js"></script>
<script src="{{ base_url }}assets/js/core/test.js"></script>
